<fa-icon *ngIf="minimize" class="infoIcon" (click)="minimize = false" [icon]="infoCircleIcon"></fa-icon>
<fa-icon *ngIf="!minimize" class="minimizeIcon" (click)="minimize = true" [icon]="windowMinimizeIcon"></fa-icon>
<main [ngClass]="[minimize ? 'minimize' : 'paciente-info-container']">
  <section class="item-info">
    <h3 class="label">Paciente</h3>
    <h4 class="info">{{paciente?.nome}}</h4>
  </section>
  <section *ngIf="paciente?.nomeMae" class="item-info">
    <h3 class="label">Mãe</h3>
    <h4 class="info">{{paciente?.nomeMae}}</h4>
  </section>
  <section *ngIf="paciente?.nascimento" class="item-info">
    <h3 class="label">Nascimento</h3>
    <h4 class="info">{{paciente?.nascimento | date: 'dd/MM/yyyy'}}</h4>
  </section>
  <section *ngIf="paciente?.nascimento" class="item-info">
    <h3 class="label">Idade</h3>
    <h4 class="info">{{this.getIdade(paciente.nascimento)}} anos</h4>
  </section>
  <section *ngIf="paciente?.id" class="item-info">
    <h3 class="label">Prontuario</h3>
    <h4 class="info">{{paciente?.id}}</h4>
  </section>
  <section *ngIf="paciente?.sexo" class="item-info">
    <h3 class="label">Sexo</h3>
    <h4 class="info">{{paciente?.sexo}}</h4>
  </section>
  <section *ngFor="let obj of extras" class="item-info">
    <h3 class="label">{{obj.label}}</h3>
    <h4 class="info">{{obj.value}}</h4>
  </section>
</main>
