@import '../../assets/colors';

.paciente-info-container {
  display: flex;
  padding: 5px;
  min-height: 100px;
  margin: 10px;
  flex-wrap: wrap;
  cursor: pointer;

  & {
    background-color: $gray-30;
    box-shadow: 0 0 5px $gray-80;
    border-radius: 3px;
    transition: 300ms;
  }

  &:hover{
    transition: 300ms;
    background-color: $gray-40;
  }

  .item-info {
    width: 24% !important;
    margin: 5px;

    .label {
      font-size: 14px;
      font-weight: 400;
    }

    .info {
      text-transform: capitalize;
      font-size: 18px;
    }
  }

}
