<main class="container-grupo">

  <article class="card card-nome">
    <form [formGroup]="form" action="#" class="form-container">
      <div class="form-group flex-row">
        <label class="form-label">Nome:</label>
        <input class="form-control" formControlName="nome" id="nome" type="text">
        <button (click)="save()" class="button button-blue btn-save">Salvar</button>
      </div>
    </form>
  </article>

  <article class="table">
    <section class="thead">
      <span class="th">Permissões Apache</span>
    </section>
    <section class="tbody" *ngFor="let permissao of permissoes">
      <div class="row" (click)=setPermission(permissao.id) *ngIf="isGroup('APACHE',permissao.authority)">
        <span class="td">{{permissao.nome}}</span>
      </div>
    </section>
  </article>

  <article class="table">
    <section class="thead">
      <span class="th">Permissões Perfil</span>
    </section>
    <section class="tbody" *ngFor="let permissao of permissoes">
      <div class="row" (click)=setPermission(permissao.id) *ngIf="isGroup('PERFIL',permissao.authority)">
        <span class="td">{{permissao.nome}}</span>
      </div>
    </section>
  </article>

  <article class="table">
    <section class="thead">
      <span class="th">Permissões de Usuário</span>
    </section>
    <section class="tbody" *ngFor="let permissao of permissoes">
      <div class="row" (click)=setPermission(permissao.id) *ngIf="isGroup('USUARIO',permissao.authority)">
        <span class="td">{{permissao.nome}}</span>
      </div>
    </section>
  </article>

  <article class="table">
    <section class="thead">
      <span class="th">Permissões de Setor</span>
    </section>
    <section class="tbody" *ngFor="let permissao of permissoes">
      <div class="row" (click)=setPermission(permissao.id) *ngIf="isGroup('SETOR',permissao.authority)">
        <span class="td">{{permissao.nome}}</span>
      </div>
    </section>
  </article>

  <article class="table">
    <section class="thead">
      <span class="th">Permissões de Grupo</span>
    </section>
    <section class="tbody" *ngFor="let permissao of permissoes">
      <div class="row" (click)=setPermission(permissao.id) *ngIf="isGroup('GRUPO',permissao.authority)">
        <span class="td">{{permissao.nome}}</span>
      </div>
    </section>
  </article>


</main>
