@import 'src/assets/colors';
@import 'src/assets/device-sizes';

.paciente-info-container {
  position: relative;
}

.paciente-info-content {
  transition: 1s;
  display: flex;
  padding: 5px;
  margin: 10px;
  flex-wrap: wrap;

  * {
    &::selection {
      background-color: transparent !important;
    }
  }

  .item-larger {
    min-width: 250px !important;
  }

  .item-info {
    flex: 1;
    min-width: 100px;
    margin: 5px;

    .label {
      font-size: 14px;
      font-weight: 400;
    }

    .info {
      text-transform: capitalize;
      font-size: 18px;
    }
  }
}

.infoIcon, .minimizeIcon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.infoIcon {
  top: 15px;
}

.minimize {
  align-self: flex-end;
  width: auto;
  transition: 1s;
  display: flex;
  padding: 5px;
  margin: 10px;
  min-height: 40px;

  & {
    background-color: $gray-30;
    box-shadow: 0 0 5px $gray-80;
    border-radius: 3px;
  }

  * {
    display: none;
  }
}


@media screen and (max-width: $tablet-width) {
  .item-info {
    min-width: 200px;
    width: auto !important;
    margin: 0 10px;
  }
}
