<div class="container">
  <article class="card-info">
    <div class="flex-row">
      <div class="flex-column">
        <span class="label">Paciente:</span>
        <p class="info">{{registro?.paciente?.nome}}</p>
      </div>
      <div class="flex-column">
        <span class="label">Sexo:</span>
        <p class="info">{{registro?.paciente?.sexo}}</p>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-column">
        <span class="label">Mãe:</span>
        <p class="info">{{registro?.paciente?.nomeMae}}</p>
      </div>
      <div class="flex-column">
        <span class="label">Nascimento:</span>
        <p class="info">{{registro?.paciente?.nascimento | date: 'dd/MM/yyyy'}}</p>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-column">
        <span class="label">Registro:</span>
        <p class="info">{{registro?.id}}</p>
      </div>
    </div>
    <form [formGroup]="form" class="flex-row">
      <div class="form-group">
        <span class="label">Data de balão:</span>
        <input type="date" class="input-date form-control" value="{{today | date: 'yyyy-MM-dd'}}" formControlName="dataBalao">
      </div>
      <div class="form-group">
        <span class="label">Hora de balão:</span>
        <input type="time" class="input-date form-control" value="{{today | date: 'HH:mm'}}" formControlName="horaBalao">
      </div>
      <div class="form-group">
        <button class="button button-blue btn-save" (click)="save()">Salvar</button>
      </div>
    </form>
  </article>
</div>
