<section class="report-list">
  <section class="thead-report-list">
    <span class="th-report-list">RELATÓRIOS</span>
  </section>
  <section class="tbody-report-list">
    <a [routerLink]="'/apache-report'">
      <div class="content-list-report">
        <span class="">
          <fa-icon [icon]="faNotesMedical"></fa-icon> Apache
        </span>
      </div>
    </a>
    <a [routerLink]="'/incidente/report'">
      <div class="content-list-report">
        <span class="">
          <fa-icon [icon]="faNotesMedical"></fa-icon> Incidente
        </span>
      </div>
    </a>
  </section>
</section>
