@import "src/assets/colors";

.report-list {
  width: 100%;
  color: $gray-70;
}

.thead-report-list, .content-list-report {
  display: flex;
  position: relative;
  top: 50px;
  margin: 0 auto;
  width: 90vw;
  padding: 10px;
  border-bottom: 1px solid $gray-60;
  border-radius: 3px;
}

.thead-report-list {
  background: $gray-60;
  font-weight: bold;
  color: $gray-100;
}

.content-list-report {

  &:hover {
    color: $gray-80;
  }


}
