@import "../../../resources/colors";

.question {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  background-color: $gray-30;
  box-shadow: 0 0 5px $gray-80;
  height: 100%;

  .question-label {
    border-bottom: 1px solid $gray-70;
    border-radius: 2px;
    text-align: center;
    padding: 8px;
    margin: 0;
    background-color: $gray-60;
  }
}
