@import 'src/assets/colors';
@import 'src/assets/device-sizes';

.main-container-perfil {
  position: absolute;
  display: flex;
  width: 100%;

  .container-column{
    width: 50%;
  }
  .container-perfil {
    position: relative;
    display: flex;
    margin: 7px;

    & {
      border-radius: 5px;
      box-shadow: 0 0 5px $gray-80;
    }
  }

  .container-graph {
    display: flex;
    position: relative;
    width: 100%;
    box-shadow: none;
  }

  .expand-icon, #expand-cid, #expand-idade {
    visibility: hidden;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 99 !important;
    color: $gray-80;

    &:hover {
      transition: 0.3s;
      color: $gray-100;
      cursor: pointer;
    }
  }

  #expand-cid, #expand-idade {
    right: 15px;
  }


  .filtro-container {
    margin-top: 7px;
    //height: 30%;

    @media screen and (min-width: $desktop-full-hd-width) {
      //height: 25%;
    }

    #filtro {
      display: flex;
      flex-direction: row;
      flex: 1;
    }
  }

  .cid-container {
    margin-bottom: 7px;
    height: 70%;
    @media screen and (min-width: $desktop-full-hd-width) {
      height: 75%;
    }

    @media screen and (min-width: $desktop-width) {
      min-height: 300px;
    }

    #cid {
      flex: 1;
    }
  }

  .idade-container {
    margin-top: 7px;
    height: 50%;

    #idade {
      flex: 1;
    }
  }

  .container-sexo-motivo-alta {
    margin-bottom: 7px;
    position: relative;
    display: flex;
    flex: 1;
    height: 50%;

    .motivo-alta-container, .sexo-container {
      display: flex;
      width: 50%;

      #motivo-alta, #sexo {
        position: relative;
        flex: 1;
      }
    }
  }
}


.form-card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  justify-items: flex-start;
  height: 70%;
  margin: 5px;
  width: auto;
  flex: 1;

  & {
    border: 1px solid $gray-70;
    border-radius: 5px;
  }

  .card-date {
    margin: 2px;
    align-items: center;
    justify-items: center;

    .form-label, .form-date {
      width: 50%;
    }

    .form-date{
      background-color: transparent;
    }
  }

  .form-group {
    justify-content: flex-start;
  }

  .flex-column {
    justify-content: center;
    align-items: center;
    margin: 2px;

    .form-group {
      justify-content: space-between;
      justify-items: center;
      width: 100%;
      margin: 5px;
    }
  }
}

.container-select-search {
  display: flex;
  flex-direction: column;
  position: relative;

  #select-multiple-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;

    & {
      border: 1px solid $gray-70;
      border-radius: 5px;
    }
  }

  .button-container {
    display: flex;
    margin:5px 0;


    .search-button {
      margin: 5px 5px 0 5px;
      height: 35px;
      flex: 1;

      & {
        text-align: center;
        color: $white;
        border-radius: 5px;
        background-color: rgba($blue-default, 0.7);
      }

      &:hover {
        transition: 0.3s;
        cursor: pointer;
        background-color: $blue-default;
      }

      .search-icon {
        margin-right: 5px;
      }
    }
  }
}

.active {
  transition: 0.3s;
  cursor: pointer;
  background-color: $blue-default !important;
}

@media screen and (max-width: 1200px) {
  .main-container-perfil {
    flex-direction: column !important;
    width: 100%;
    overflow-y: scroll;
    justify-items: flex-start;
    justify-content: flex-start;

    .container-column {
      width: 100% !important;
    }

    .sexo-container, .idade-container, .cid-container, .filtro-container {
      /*height: auto !important;*/
      margin: 0;
    }

    #filtro {
      display: flex;
      width: 50% !important;
      flex-direction: column;
    }

    .container-sexo-motivo-alta {
      width: 100%;
      display: flex;
      flex-direction: column;

      .sexo-container, .motivo-alta-container {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-container-perfil {
    flex-direction: column !important;
    width: 100%;
    overflow-y: scroll;
    justify-items: flex-start;
    justify-content: flex-start;

    .container-column {
      height: auto;
      width: 100% !important;
    }

    .sexo-container, .idade-container, .cid-container, .filtro-container {
      height: auto !important;
      margin: 0;
    }

    #filtro {
      flex-direction: column !important;

      .button-container {
        font-size: 15px;
      }

      .flex-column {
        width: 100% !important;
        height: auto;
      }

      .form-group {
        width: 90%;
        .form-date{
          font-size: 14px;
        }
      }

      .form-card {
        align-items: center;
        flex-direction: column !important;

        .form-label {
          margin-left: 0;
          margin-right: 0;
        }
      }

      .container-select-search {
        height: 200px;
      }
    }

    .container-sexo-motivo-alta {
      width: 100%;
      display: flex;
      flex-direction: column;

      .sexo-container, .motivo-alta-container {
        width: 100%;
      }
    }
  }
}
