@import '../../../inputs';

.incidente-form {
  textarea {
    width: calc(100% - 15px);
    min-height: 100px;
  }

  .form-group {
    margin: 0;
  }

  .flex-wrap {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .flex-0 {
    flex: 0;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .form-container {
    padding: 0;
  }

  .btn-save {
    padding: 7px;
    font-weight: 400;
    width: 100px;
    margin-left: auto;
  }

  .error-label {
    bottom: -20px;
  }

  .form-control {
    min-width: 160px;
  }

  select.form-control {
    height: 42px;
  }
}
