/* You can add global styles to this file, and also import other style files */
@import 'fonts/roboto';
@import 'fonts/Manjari';
@import 'colors.scss';

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: inherit;
  border: none;
  vertical-align: baseline;
  outline: transparent;

  &::selection {
    background-color: $gray-70;
  }
}

app-root{
  width: 100%;
  height: 100vh;
}
