<main class="container-paciente">
  <form [formGroup]="searchForm" class="search-container">
    <input (focus)="search()" formControlName="searchControl" id="search-text"
           placeholder="Procure: nome, prontuário..." type="text">
    <button id="search-button">
      <fa-icon [icon]=faSearch></fa-icon>
    </button>
    <div class="search-selected">
      <label class="label-selected">Setor</label>
      <select [(ngModel)]="setorId" (ngModelChange)="list()" [ngModelOptions]="{standalone: true}">
        <option selected value="">Selecione</option>
        <option name="setor" *ngFor="let setor of setores" [ngValue]="setor.id">{{setor.sigla}}</option>
      </select>
    </div>

  </form>
  <div class="table">
    <section class="thead">
      <span class="th flex-1">Prontuário</span>
      <span class="th flex-3">Nome</span>
      <span class="th flex-1">Sexo</span>
      <span class="th flex-3">Nome da mãe</span>
      <span class="th flex-1">Nascimento</span>
    </section>
    <section #dataList class="tbody content-paciente" [scrollWindow]="false" infinite-scroll (scrolled)="scrollDown()">
      <spinner [loading]="listLoading"></spinner>
      <div [routerLink]="['/incidente','paciente-details',paciente.id]" *ngFor="let paciente of pacientes" class="row">
        <span class="td flex-1">{{paciente.id}}</span>
        <span class="td flex-3">{{paciente.nome}}</span>
        <span class="td flex-1">{{paciente.sexo}}</span>
        <span class="td flex-3">{{paciente.nomeMae}}</span>
        <span class="td flex-1">{{paciente.nascimento | date:'dd/MM/yy'}}</span>
      </div>
      <app-scroll-spinner [show]="showListScrollSpinner"></app-scroll-spinner>
      <div class="empty" *ngIf="pacientes?.length == 0">
        <p>Nenhum paciente encontrado!</p>
        <fa-icon class="icon" [icon]="faFrown" size="2x"></fa-icon>
      </div>
    </section>
  </div>
</main>
