<div class="container">
  <article class="card-info">
    <div class="flex-row">
      <div class="flex-column">
        <span class="label">Paciente:</span>
        <p class="info">{{paciente?.nome?.toLocaleLowerCase()}}</p>
      </div>
      <div class="flex-column">
        <span class="label">Sexo:</span>
        <p class="info">{{paciente?.sexo}}</p>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-column">
        <span class="label">Mãe:</span>
        <p class="info">{{paciente?.nomeMae?.toLowerCase()}}</p>
      </div>
      <div class="flex-column">
        <span class="label">Nascimento:</span>
        <p class="info">{{paciente?.nascimento | date:'dd/MM/yyyy'}}</p>
      </div>
    </div>
    <div class="flex-row">
      <div class="flex-column">
        <span class="label">Prontuário:</span>
        <p class="info">{{paciente?.id}}</p>
      </div>
    </div>
  </article>
  <div class="flex-title">
    <h1>Incidentes</h1>
    <button class="button button-blue"
            [routerLink]="['/incidente','create']"
            [queryParams]="{paciente: paciente.id}"><fa-icon [icon]=faPlus></fa-icon> Novo Incidente</button>
  </div>
  <div class="table">
    <div class="thead">
      <span class="th">Data - Hora</span>
      <span class="th">Tipo de Incidente</span>
    </div>
    <div class="tbody content-grupo">
      <div [routerLink]="['/incidente','edit', incidente.id]" *ngFor="let incidente of incidentes" class="row">
        <span class="td">{{incidente.dataHora | date:'dd/MM/yyyy - HH:mm'}}</span>
        <span class="td">{{incidente.tipoIncidente?.nome}}</span>
      </div>
      <div class="empty" *ngIf="incidentes?.length == 0">
        <p>O paciente não possui incidentes.</p>
        <fa-icon class="icon" [icon]="faSmile" size="2x"></fa-icon>
      </div>
    </div>
  </div>
</div>
