@import '../../../assets/device-sizes';
.paciente-info {
  background: #fff;
  padding: 15px;
  border: 1px solid #EEEAEA;
  width: 50%;

  .label {
    font-size: 16px;
    font-weight: lighter;
  }
  .info {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .flex-column {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .paciente-info {
    width: auto;
  }
}
