@import "src/assets/colors";

.diagnostic-list-status {
  min-width: 50%;
  position: relative;
  display: flex;
  vertical-align: center;
  align-items: center;

  .btn-status, .active-status-confirm,
  .active-status-descarded, .active-status-suspicious {
    width: 25%;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid $gray-50;
  }

  .btn-status:nth-child(1), .active-status-suspicious:nth-child(1) {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .btn-status:nth-child(3), .active-status-descarded:nth-child(3) {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .active-status-confirm {
    background: #149553;
    color: $white;
    padding: 10px;
  }

  .active-status-descarded {
    background: #C24D4D;
    color: $white;
    padding: 10px;
  }

  .active-status-suspicious {
    background: #F8A232;
    color: $white;
    padding: 10px;
  }

  .btn-minus {
    color: $danger-50;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: $white;
    height: 50px;
  }
}

.disable-status {
  background: none;
  color: $gray-90;
}


