@import "src/assets/colors";

.diagnostic-list-status {
  display: flex;
  width: 450px;
  height: 50px;
  justify-content: flex-end;
  vertical-align: center;
  align-items: center;
  border: 1px solid $gray-50;

  .items-status {
    width: 25%;
    color: $gray-90;
    cursor: pointer;
    text-align: center;
  }

  .group-minus {
    padding: 10px;
    background: $white;

    .btn-status {
      width: 100%;
      padding: 5px;
    }
  }
}

.btn-minus {
  color: $danger-50;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: $white;
  height: 50px;
}

.active-status-confirm {
  background: #149553;
  color: $white;
  padding: 10px;
}

.active-status-descarded {
  background: #C24D4D;
  color: $white;
  padding: 10px;
}

.active-status-suspicious {
  background: #F8A232;
  color: $white;
  padding: 10px;
}

.disable-status {
  background: none;
  color: $gray-90;
}
