<main class="container">
  <form [formGroup]="form" class="panel">
    <div>
      <label class="label-panel" for="inicio">Inicio:</label>
      <input formControlName="inicio" class="input-date" id="inicio" type="date">
    </div>
    <div>
      <label class="label-panel" for="fim">Fim:</label>
      <input formControlName="fim" class="input-date" id="fim" type="date">
    </div>
  </form>
  <section class="panel-chart">
    <section [chart]="ecgChart" id="ecg">ECG</section>
  </section>
</main>
