<main class="container">
  <form [formGroup]="searchForm" class="search-container">
    <input (focus)="search()" formControlName="searchControl" id="search-text"
           placeholder="Procure: Descrição ou id..." type="text">
    <button id="search-button">
      <fa-icon [icon]=faSearch></fa-icon>
    </button>
   <!-- <div class="search-selected">
      <label class="label-selected">Setor</label>
      <select>
        <option selected value="">Selecione</option>
        <option name="setor" *ngFor="let setor of setores" [ngValue]="setor.id">{{setor.sigla}}</option>
      </select>
    </div>-->
  </form>

  <div class="table">
    <section class="thead">
      <span class="th">Registro</span>
      <span class="th">Paciente</span>
      <span class="th">Sexo</span>
      <span class="th">Entrada</span>
      <span class="th">Mãe</span>
      <span class="th">Nascimento</span>
    </section>
    <section class="tbody content-paciente" [scrollWindow]="false" infinite-scroll (scrolled)="scrollDown()">
      <div [routerLink]="['/portaBalao','create', registro.id]" class="row" *ngFor="let registro of registros">
        <span class="td">{{registro.id}}</span>
        <span class="td">{{registro.paciente.nome}}</span>
        <span class="td">{{registro.paciente.sexo}}</span>
        <span class="td">{{registro.dataEntrada}}</span>
        <span class="td">{{registro.paciente.nomeMae}}</span>
        <span class="td">{{registro.paciente.nascimento | date: "dd/MM/yyyy" }}</span>
      </div>
      <app-scroll-spinner [show]="showListScrollSpinner"></app-scroll-spinner>
      <div class="empty" *ngIf="registros?.length == 0">
        <p>Nenhum risco encontrado!</p>
        <fa-icon class="icon" [icon]="faFrown" size="2x"></fa-icon>
      </div>
    </section>
  </div>
</main>
