<main class="container-ecg-edit">
  <article class="card flex">
    <form [formGroup]="form" action="#" class="form">
      <div class="row">
        <label class="label-ecg">Paciente:</label>
        <span class="text">{{atendimento[0]?.paciente?.nome}}</span>
        <label class="label-ecg">Sexo:</label>
        <span class="text">{{atendimento[0]?.paciente?.sexo}}</span>
      </div>
      <div class="row">
        <label class="label-ecg">Nascimento:</label>
        <span class="text">{{atendimento[0]?.paciente?.nascimento | date: 'dd/MM/yyyy'}}</span>
        <label class="label-ecg">Mãe:</label>
        <span class="text">{{atendimento[0]?.paciente?.nomeMae}}</span>
      </div>
      <div class="row">
        <label class="label-ecg">atendimento:</label>
        <span class="text">{{atendimento[0]?.id}}</span>
      </div>
      <div class="row row-between">
        <label class="label-ecg">Data de Porta:</label>
        <input class="input-date" type="date" formControlName="dataPorta">
        <label class="label-ecg">Hora de Porta:</label>
        <input class="input-date" type="time" formControlName="horaPorta">
      </div>
      <div class="row row-between">
        <label class="label-ecg">Data de ECG:</label>
        <input class="input-date" type="date" formControlName="dataECG">
        <label class="label-ecg">Hora de ECG:</label>
        <input class="input-date" type="time" formControlName="horaECG">
      </div>
      <div class="row row-flex-end">
        <button (click)="save()" class="button button-blue btn-save">Salvar</button>
      </div>
    </form>
  </article>
</main>


