<section class="container-painel">
  <main class="main-content-painel">
    <div (click)="show()" class="container-icon-table" #buttonResumo>
      <h3 class="resumo">Resumo</h3>
      <fa-icon class="table-icon" [icon]="icon"></fa-icon>
    </div>
    <section class="row-leitos" *ngFor="let setor of setores">
      <h2 class="setor">{{setor}}</h2>
      <div class="leito-container" *ngFor="let leito of filterLeitos(setor)">
        <h3 *ngIf="isFirstOfType(leito)" class="tipo-leito">{{leito.tipo.toLowerCase()}}</h3>
        <span (mouseout)="hiddenPaciente($event)" (mouseover)="showPaciente($event)"
              id="{{leito?.id}}" [ngClass]="[getColor(leito?.status)]"
              class="leito">{{padText(leito?.id)}}</span>
        <paciente-card [atendimento]="leito?.atendimento"></paciente-card>
      </div>
    </section>
    <div class="center">
      <tabela-resumo class="table-responsive" [setores]="setores" [leitos]="leitos"
                     [statusArray]="statusArray"></tabela-resumo>
    </div>
    <tabela-resumo class="hide" [setores]="setores" [leitos]="leitos"
                   [statusArray]="statusArray" #tabela></tabela-resumo>

    <status-card *ngFor="let setor of setores" [setor]="setor"
                 [statusArray]="statusArray" [leitos]="filterLeitos(setor)"></status-card>
  </main>
</section>

