$gray-10: #F1E4E4;
$gray-20: #F8F8F8;
$gray-30: #F2F2F2;
$gray-40: #E9E9E9;
$gray-50: #EEEAEA;
$gray-60: #DFD6D6;
$gray-70: #A9ABAE;
$gray-80: #87888A;
$gray-90: #707070;
$gray-100: #5A5B5B;
$danger: #c26267;
$danger-50: #df5a5a;
$warning: #d48c00;
$light-danger: #D48787;
$success: #149553;
$info: #2D9DD1;
$green-default: #4DC2B3;
$green-dark-default: #3b8679;
$blue-default: #2B517E;
$white: #FFFFFF;

$green: #389060;
$orange: #FF955E;
$yellow: #F9DD28;
$blue: #4860c1;
$purple: #671dc1;
$white: #FFFFFF;
$brown: #695A35;
