$gray-10: #F1E4E4;
$gray-20: #F8F8F8;
$gray-30: #F2F2F2;
$gray-40: #E9E9E9;
$gray-50: #EEEAEA;
$gray-60: #DFD6D6;
$gray-70: #A9ABAE;
$gray-80: #87888A;
$gray-90: #707070;
$gray-100: #5A5B5B;
$danger: #c26267;
$danger-50: #df5a5a;
$warning: #d48c00;
$light-danger: #D48787;
$success: #149553;
$green-default: #4DC2B3;
$green-dark-default: #3b8679;
$blue-default: #2B517E;
$white: #FFFFFF;

$color-1: #E84336;
$color-2: #F16637;
$color-3: #F8A232;
$color-4: #F4C64F;
$color-5: #F5EE4B;
$color-6: #D1E04C;
$color-7: #74B856;
$color-8: #2D9DD1;
$color-9: #506CB2;
$color-10: #58439A;
$color-11: #8A499E;
$color-12: #C22551;

