<main class="container-select" [ngClass]="[labelPosition == 'left'? 'label-left':'label-top' ]">
  <h3 class="select-label">{{labelName}}</h3>
  <section (click)="showSelect()" class="select" [ngStyle]="{'width':width}">{{selected}}</section>
  <article *ngIf="show" class="container-options simple-select" [ngStyle]="{'width': this.widthOptions}"
           #containerOptions>
    <section class="option" (click)="setOption({empty:'selecione'})">selecione</section>
    <section class="option" (click)="setOption(item)"
             *ngFor="let item of items">{{getType(item) == 'string' || getType(item) == 'number'  ? item : item[keyPropery]}}</section>
  </article>
</main>
