<div class="header-scale">
  <h2 class="subtitle">FATORES DE RISCOS</h2>
  <hr class="limit-row">
</div>
<div [formGroup]="formGroupRisk" class="scale-content" *ngFor="let item of risks_stratification">
  <div class="group-label-risks">
    <label>
      <span class="number-question">{{item.id}}) </span>{{item.description}}
    </label>
    <div class="alert-errors" *ngIf="formGroupRisk.get(item.controlname).invalid && controlIsEmpty">
      <span class="exclamation"><fa-icon [icon]="faEclamation"></fa-icon></span>
      <span class="invalid">Selecione uma opção*</span>
    </div>
  </div>
  <div *ngFor="let alternative of item.alternatives">
    <input id="{{alternative.option + item.id}}" class="radio" type="radio" formControlName="{{item?.controlname}}"
           [value]="alternative.value" required>
    <label for="{{alternative.option + item.id}}" class="label-risk">{{alternative.option}}</label>
  </div>
</div>
