@import "../../estratificacao/form/estratificacao-risco-form.component";

.header-scale {
  width: 100%;

  & .limit-row {
    border: 1px solid $gray-70;
    margin-bottom: 20px;
  }
}

.tab-item {
  display: none;
}

.number-question {
  font-weight: bold;
}

.scale-content {
  width: 180px;
  padding: 10px;

  & input.radio[type="radio"] {
    transform: scale(1.5);
    font-size: 12px;
    margin: 10px;
  }

  & input.radio[type="radio"]:focus,
  & input.radio[type="radio"]:valid {
    background-color: #74B856;
  }



  & .group-label-risks {
    width: 100%;
    margin: 10px 5px;
    line-height: 20px;
    word-wrap: break-word;
    word-break: normal;
    padding: 5px;
  }
}
