@import "src/assets/colors";

.container-select {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
  height: calc(100% - 20px);

  ::selection {
    background-color: transparent;
  }
}

.label-left {
  margin:5px 0;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  align-content: space-between;

  .select-label {
    width: auto;
  }
}

.label-top{
  .simple-select {
    top: 60px;
    left: 0;
  }
}
.select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 7px;
  width: calc(100% - 14px);
  z-index: 80;


  & {
    background-color: $white;
    color: $gray-80;
    border: 1px solid $gray-70;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
  }

  &:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: $gray-30;
  }

  &:after {
    position: absolute;
    right: 10px;
    color: $gray-80;
    content: '\25BC';
  }
}

.container-options {
  position: absolute !important;
  display: flex;
  margin-top: 35px;
  flex-direction: column;
  z-index: 99 !important;
  overflow-y: scroll;
  width: 100%;


  .option {
    transition: 0.3s;
    position: relative;
    padding: 7px;
    z-index: 90;

    & {
      border: 1px solid $gray-80;
      border-bottom: none;
      background-color: white;
    }

    &:last-child {
      border-bottom: 1px solid $gray-80;
    }

    &:hover {
      cursor: pointer;
      background-color: $gray-60;
    }
  }
}

.container-selected-items {
  position: absolute;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1px;
  width: 100% !important;
  height: 100%;
  overflow-y: scroll;

  .item {
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 5px;
    height: 25px;

    & {
      background-color: $white;
      color: $gray-70;
      font-weight: 300;
      font-size: 14px;
      border: 1px solid $gray-70;
      border-radius: 5px;
    }

    &:hover {
      color: $gray-100;
      cursor: pointer;
    }

    .icon {
      margin-right: 3px;
    }
  }
}

.selected {
  background-color: $gray-60 !important;
}

.simple-select {
  overflow-y: hidden;
  margin: 0;
}

.select-label {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 16px;
  color: $gray-80;
  word-wrap: break-word;
  width: calc(100% - 14px);
}

:host-context(.select-multiple-container-relative) .container-selected-items {
  position: relative;
  margin-top: 0!important;
  max-height: 88px;
}
:host-context(.select-multiple-container-relative) .container-select {
  margin: 0 !important;
}
:host-context(.select-multiple-container-relative) .select {
  width: auto !important;
}
