@import "../../../../resources/colors";
@import "../../../../resources/device-sizes";
@import "../../../setor/list/setor-list.component";

.filters-container {
  padding: 5px;
  background-color: $gray-50;
  z-index: 3;
  bottom: 10px;
  right: 38px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  box-shadow: -1px -1px 3px $gray-70;
}

.paciente-situacao-label {
  flex: 1;
  color: $gray-80;
  padding: 8px;
  font-weight: 600;
  text-align: left !important;
  text-transform: uppercase;
  background-color: $gray-60;
  border-bottom: 1px solid $gray-70;
  border-top: 1px solid $gray-70;
  margin-bottom: 5px;
  max-height: 22px !important;
}

.legend {
  list-style: none;
  margin-left: auto;
  flex-wrap: wrap;
}
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 15px; height: 15px; margin: 2px; }
/* your colors */
.legend .legend-success { background-color: #26a69a; }
.legend .legend-available { background-color: #42a5f5; }
.legend .legend-alert { background-color: #ef5350; }

.row-success {
  border-left: 10px solid #26a69a !important;
}

.row {
  border-left: 10px solid transparent;
  .label-card {
    display: none;
  }
}

.row-available {
  border-left: 10px solid #42a5f5 !important;
}

.row-alert {
  border-left: 10px solid #ef5350 !important;
}

.text-overflow {
  text-overflow: ellipsis;
}

.row-wrap {
  flex-flow: row wrap;
}

.column-nowrap {
  flex-flow: column nowrap;
}

.item {
  flex: 1;
}

.basis-25 {
  flex-basis: 25%;
}

.basis-50 {
  flex-basis: 50%;
}

.basis-75 {
  flex-basis: 75%;
}

.basis-100 {
  flex-basis: 100%;
}

.card-apache-list {
  display: none;
}

.thead {
  padding-left: 10px;

  .th:last-child {
    margin-right: 20px;
  }
}

@media screen and (max-width: $smartphone-max-width) {
  .table {
    position: relative;

    & .thead {
      display: none;
    }

    & .row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 98%;
      margin: 10px auto;
      & .label-card {
        display: initial;
        font-weight: bold;
      }
      & span.td {
        width: 100%;
      }
    }
  }

  .legend {
    margin: 10px 0;
  }
}
