<main class="container">
  <div class="filters-container">
    <ul class="legend">
      <li><span class="legend-success"></span> Realizado</li>
      <li><span class="legend-available"></span> Pendente</li>
      <li><span class="legend-alert"></span> Atrasado</li>
    </ul>
  </div>
  <section class="table table-list">
    <section class="thead">
      <span class="th flex-1">REGISTRO</span>
      <span class="th flex-4">PACIENTE</span>
      <span class="th flex-1">NASCIMENTO</span>
      <span class="th flex-3">MÃE</span>
      <span class="th flex-1">SEXO</span>
      <span class="th flex-1">LEITO</span>
      <span class="th flex-2">ENTRADA</span>
    </section>
    <section class="tbody content" [scrollWindow]="false" infinite-scroll (scrolled)="scrollDown()">
      <spinner [loading]="listLoading"></spinner>
      <div class="paciente-situacao-label">Pacientes Internados</div>
      <div [ngClass]="getRowClass(registro)" [class.d-none]="!this.isTimeOverflow(registro.dataEntrada)" class="row"
        *ngFor="let registro of pacientesInternos"
        [routerLink]="['/apache','form',registro.id]">
        <span class="td flex-1"><span class="label-card">Registro:</span> {{registro.atendimento.id}}</span>
        <span class="td flex-4"><span class="label-card">Paciente:</span> {{registro.atendimento.paciente.nome}}</span>
        <span class="td flex-1"><span
          class="label-card">Nascimento:</span> {{registro.atendimento.paciente.nascimento | date:'dd/MM/yyyy'}}</span>
        <span class="td flex-3"><span
          class="label-card">Mãe:</span> {{registro.atendimento.paciente.nomeMae}}</span>
        <span class="td flex-1"><span
          class="label-card">Sexo:</span> {{registro.atendimento.paciente.sexo}}</span>
        <span class="td flex-1"><span
          class="label-card">Leito:</span> {{registro.leito?.id}}</span>
        <span class="td flex-2"><span
          class="label-card">Entrada:</span> {{registro.dataEntrada | date: 'dd/MM/yyyy - HH:mm'}}</span>
      </div>

      <div class="empty" *ngIf="outrosPacientes?.length == 0">
        <p>Nenhum paciente encontrado!</p>
      </div>

      <div class="paciente-situacao-label">Outros Registros</div>
      <div [ngClass]="getRowClass(registro)" [class.d-none]="!this.isTimeOverflow(registro.dataEntrada)" class="row"
           *ngFor="let registro of outrosPacientes"
           [routerLink]="['/apache','form',registro.id]">
        <span class="td flex-1"><span class="label-card">Registro:</span> {{registro.atendimento.id}}</span>
        <span class="td flex-4"><span class="label-card">Paciente:</span> {{registro.atendimento.paciente.nome}}</span>
        <span class="td flex-1"><span
          class="label-card">Nascimento:</span> {{registro.atendimento.paciente.nascimento | date:'dd/MM/yyyy'}}</span>
        <span class="td flex-3"><span
          class="label-card">Mãe:</span> {{registro.atendimento.paciente.nomeMae}}</span>
        <span class="td flex-1"><span
          class="label-card">Sexo:</span> {{registro.atendimento.paciente.sexo}}</span>
        <span class="td flex-1"><span
          class="label-card">Leito:</span> {{registro.leito?.id}}</span>
        <span class="td flex-2"><span
          class="label-card">Entrada:</span> {{registro.dataEntrada | date: 'dd/MM/yyyy - HH:mm'}}</span>
      </div>
      <div class="empty" *ngIf="outrosPacientes?.length == 0">
        <p>Nenhum paciente encontrado!</p>
      </div>
      <app-scroll-spinner [show]="showListScrollSpinner"></app-scroll-spinner>
    </section>
  </section>
</main>
