<main class="container">
  <div class="selected">
    <form [formGroup]="searchForm" class="search-container">
      <input (focus)="search()" formControlName="searchControl" id="search-text"
             placeholder="Procure: Paciente ou registro..." type="text">
      <button id="search-button">
        <fa-icon [icon]=faSearch></fa-icon>
      </button>
    </form>
    <div class="search-selected">
      <label class="label-selected">Setor</label>
      <select class="selected" [(ngModel)]="setorId" (ngModelChange)="listAdmissoesSetor()">
        <option name="setor" *ngFor="let setor of arrayListSetor" [ngValue]="setor.id">{{setor.sigla}}</option>
      </select>
    </div>
  </div>
  <section class="table">
    <section class="thead">
      <span class="th">REGISTRO</span>
      <span class="th">ENTRADA</span>
      <span class="th paciente">PACIENTE</span>
      <span class="th">SEXO</span>
      <span class="th sigla">DATA NASCIMENTO</span>
      <span class="th sigla">NOME DA MÃE</span>
    </section>
    <section class="tbody content" [scrollWindow]="false" infinite-scroll (scrolled)="scrollDown()">
      <div class="row" *ngFor="let registro of admissoesPacSetor"
           [routerLink]="['/apache','form']"
           [queryParams]="{registro:registro.registroAtendimento.id, dataEntrada: registro.dataEntrada, leito:registro.leito.id}">
        <span class="td">{{registro.registroAtendimento.id}}</span>
        <span class="td">{{registro.registroAtendimento.dataEntrada | date: 'dd/MM/yyyy,  HH:mm'}}</span>
        <span class="td paciente">{{registro.registroAtendimento.paciente.nome}}</span>
        <span class="td">{{registro.registroAtendimento.paciente.sexo}}</span>
        <span class="td">{{registro.registroAtendimento.paciente.nascimento | date:'dd/MM/yy'}}</span>
        <span class="td">{{registro.registroAtendimento.paciente.nomeMae}}</span>
      </div>
      <div class="empty" *ngIf="admissoesPacSetor?.length == 0">
        <p>Nenhum setor encontrado!</p>
        <fa-icon class="icon" [icon]="faFrown" size="2x"></fa-icon>
      </div>
    </section>
  </section>
  <section class="content-card" [scrollWindow]="false" infinite-scroll (scrolled)="scrollDown()">
    <article class="card-apache-list"
             *ngFor="let registro of admissoesPacSetor">
      <div class="row-wrap">
        <div class="basis-100">
          <label class="label">PACIENTE:</label>
          <span class="text">{{registro.registroAtendimento.paciente.nome}}</span>
        </div>
        <label class="label">SEXO:</label>
        <span class="text text-overflow">{{registro.registroAtendimento.paciente.sexo}}</span>
        <label class="label">NASCIMENTO:</label>
        <span
          class="text text-overflow">{{registro.registroAtendimento.paciente.nascimento | date: 'dd/MM/yyyy'}}</span>
        <div class="basis-100">
          <label class="label">MÃE:</label>
          <span class="text text-overflow">{{registro.registroAtendimento.paciente.nomeMae}}</span>
        </div>
      </div>
    </article>
  </section>
</main>
