@import 'src/assets/colors';

$animation-time: 300ms;

.menu {
  display: flex;
  height: 100%;
  background-color: $gray-50;
  color: $gray-70;
  flex-direction: column;
  padding-top: 15px;
  z-index: 150;
  min-width: 300px;

  & {
    box-shadow: 1px 5px 1px $gray-70;
    background-color: $gray-50;
  }

  .menu-item {
    color: $gray-70;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    font-size: 18px;

    &:hover {
      color: $gray-100;
      transition: 0.3s;
      cursor: pointer;
    }

    .description {
      font-weight: 400;
    }
  }

}

.menu-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 100;
  //margin-top: 70px;
  top: 0;
  height: calc(100% - 10px);
  transition: width, transform;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94),cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: .3s, .3s;
}

.menu-collapsed {
  transform: translate3d(-300px, 0, 0);
}

.hide {
  width: 0;
  -webkit-animation: hide-menu $animation-time;
  -o-animation: hide-menu $animation-time;
  animation: hide-menu $animation-time;

  * {
    display: none;
  }

  @-webkit-keyframes hide-menu {
    0% {
      width: 70px;
    }
    100% {
      width: 0;
    }
  }
}

.show {
  width: 70px;
  -webkit-animation: show-menu $animation-time;
  -o-animation: show-menu $animation-time;
  animation: show-menu $animation-time;

  * {
    display: initial;
  }

  @-webkit-keyframes show-menu {
    0% {
      width: 0;
    }
    100% {
      width: 70px;
    }
  }
}

.active-link {
  color: $gray-100 !important;
  background: #bdbdbd;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
  display: none;
}

.sidenav-overlay-show {
  display: block;
  opacity: 1;
}
