<main class="container">
  <form [formGroup]="form" class="panel">
    <div>
      <label class="label-panel" for="inicio">Inicio:</label>
      <input class="input-date" id="inicio" value="{{this.dataInicio}}" type="date" formControlName="inicio">
    </div>
    <div>
      <label class="label-panel" for="fim">Fim:</label>
      <input class="input-date" id="fim" value="{{this.dataFim}}" type="date" formControlName="fim">
      <button class="button-search-panel" (click)="update()">
        <fa-icon class="ng-fa-icon"></fa-icon> Buscar
      </button>
    </div>
  </form>
  <section class="panel-chart">
    <section [chart]="balaoChart" id="ecg">ECG</section>
  </section>
</main>
