<main class="container-risco">
  <form [formGroup]="searchForm" class="search-container">
    <input (focus)="search()" formControlName="searchControl" id="search-text"
           placeholder="Procure: Descrição ou id..." type="text">
    <button id="search-button">
      <fa-icon [icon]=faSearch></fa-icon>
    </button>
  </form>
  <section class="table">
    <section class="thead">
      <span class="th">Nome do Risco</span>
    </section>
    <section #dataList class="tbody content-risco" [scrollWindow]="false" infinite-scroll (scrolled)="scrollDown()">
      <div [routerLink]="['/risco','edit',risco.id]" *ngFor="let risco of riscos" class="row">
        <span class="td">{{risco.nome}}</span>
      </div>
      <app-scroll-spinner [show]="showListScrollSpinner"></app-scroll-spinner>
      <div class="empty" *ngIf="riscos?.length == 0">
        <p>Nenhum risco encontrado!</p>
        <fa-icon class="icon" [icon]="faFrown" size="2x"></fa-icon>
      </div>
    </section>
  </section>
  <div [routerLink]="['/risco','create']" class="button-add">
    <fa-icon class="icon" [icon]="faPlus"></fa-icon>
  </div>
</main>
