@import '../../../assets/colors';
@import '../../../assets/device-sizes';

.container-setor {
  position: relative;
  height: calc(100% - 20px);
  margin: 10px 20px;
}

.content-setor {
  position: relative;
  overflow-y: scroll;
  padding: 0 2px;
}

.table {
  position: relative;
  height: calc(100% - 60px);
}

@media screen and (max-width: $tablet-width) {
  .sigla {
    display: none;
  }
  .button-add {
    right: 5px;
  }

  .container-setor {
    height: calc(100% - 10px);
    width: calc(100% - 20px);
    margin: 10px;

    .search-container {
      position: relative;
      display: flex;

      #search-button {
        flex: 1;
        max-width: 40px;
      }

      #search-text {
        max-width: 200px;
        flex: 3;
        width: 10px;
        margin: 0 !important;
      }
    }
  }
}
