<main class="container-setor">
  <form [formGroup]="searchForm" class="search-container">
    <input (focus)="search()" formControlName="searchControl" id="search-text"
           placeholder="Procure: Descrição ou id..." type="text">
    <button id="search-button">
      <fa-icon [icon]=faSearch></fa-icon>
    </button>
  </form>
  <section class="table">
    <section class="thead">
      <span class="th">COD</span>
      <span class="th sigla">SIGLA</span>
      <span class="th">DESCRIÇÃO</span>
    </section>
    <section *ngIf="setores!=null" class="tbody">
      <div [routerLink]="['/setor','edit',setor.id]" *ngFor="let setor of setores" class="row">
        <span class="td">{{setor.id}}</span>
        <span class="td sigla">{{setor.sigla}}</span>
        <span class="td">{{setor.descricao}}</span>
      </div>
      <div class="empty" *ngIf="setores?.length == 0">
        <p>Nenhum setor encontrado!</p>
        <fa-icon class="icon" [icon]="faFrown" size="2x"></fa-icon>
      </div>
    </section>
  </section>
  <div [routerLink]="['/setor','create']" class="button-add">
    <fa-icon class="icon" [icon]="faPlus"></fa-icon>
  </div>
</main>
