@import '../../../resources/colors';
@import '../../../resources/device-sizes';

.container-usuario {
  position: relative;
  height: calc(100% - 20px);
  margin: 10px 20px;
}


.table {
  position: absolute;
  height: calc(100% - 60px);

  .content-setor {
    position: relative;
    overflow-y: scroll;
    padding: 0 2px;
    height: 100%;
  }
}

@media screen and (max-width: $tablet-width) {
  .sigla {
    display: none;
  }
  .button-add {
    right: 5px;
  }

  .container-usuario {
    height: calc(100% - 10px);
    width: calc(100% - 20px);
    margin: 10px;

    .search-container {
      position: relative;
      display: flex;

      #search-button {
        flex: 1;
        max-width: 40px;
      }

      #search-text {
        max-width: 200px;
        flex: 3;
        width: 10px;
        margin: 0 !important;
      }
    }
  }
}
