<main class="flex-row main-container-perfil">
  <article class="flex-column container-column">
    <div class="container-graph filtro-container">
      <section id="filtro" class="container-perfil">
        <section class="form-card">
          <div class="form-group">
            <label class="form-label" for="inicio">Início:</label>
            <input class="form-date" id="inicio" type="date">
          </div>
          <div class="form-group">
            <label class="form-label" for="final">Final:</label>
            <input class="form-date" id="final" type="date">
          </div>
        </section>
        <section class="form-card">
          <div class="form-group">
            <label class="form-label" for="interno">Interno</label>
            <input class="form-check" id="interno" type="checkbox">
          </div>
          <div class="form-group">
            <label class="form-label" for="urgencia">Urgência</label>
            <input class="form-check" id="urgencia" type="checkbox">
          </div>
          <div class="form-group">
            <label class="form-label" for="externo">Externo</label>
            <input class="form-check" id="externo" type="checkbox">
          </div>
          <div class="form-group">
            <label class="form-label" for="ambulatorial">Ambulatorial</label>
            <input class="form-check" id="ambulatorial" type="checkbox">
          </div>
        </section>
        <section class="form-card">
          <multiple-select [items]="['UTI','URTE','CTI','EMERGÊNCIA','UNIDADA II']"></multiple-select>
        </section>
        <button class="busca-button"><fa-icon id="search-icon" [icon]="faSearch"></fa-icon>Buscar</button>
      </section>
    </div>
    <div class="container-graph cid-container">
      <fa-icon class="expand-icon" id="expand-cid" [icon]="faExpand"></fa-icon>
      <section id="cid" class="container-perfil">por cid</section>
    </div>
  </article>
  <article class="flex-column container-column">
    <div class="container-graph idade-container">
      <fa-icon class="expand-icon" id="expand-idade" [icon]="faExpand"></fa-icon>
      <section id="idade" class="container-perfil">idade</section>
    </div>
    <article class="container-sexo-motivo-alta">
      <div class="container-graph sexo-container">
        <fa-icon class="expand-icon" [icon]="faExpand"></fa-icon>
        <section id="sexo" class="container-perfil">por sexo</section>
      </div>
      <div class="container-graph motivo-alta-container">
        <fa-icon class="expand-icon" [icon]="faExpand"></fa-icon>
        <section id="motivo-alta" class="container-perfil">motivo alta</section>
      </div>
    </article>
  </article>
</main>
