<main class="flex-row main-container-perfil">
  <article class="flex-column container-column">
    <div class="container-graph filtro-container">
      <section id="filtro" class="container-perfil">filtro</section>
    </div>
    <div class="container-graph cid-container">
      <fa-icon class="expand-icon" id="expand-cid" [icon]="faExpand"></fa-icon>
      <section id="cid" class="container-perfil">por cid</section>
    </div>
  </article>
  <article class="flex-column container-column">
    <div class="container-graph idade-container">
      <fa-icon class="expand-icon" id="expand-idade" [icon]="faExpand"></fa-icon>
      <section id="idade" class="container-perfil">idade</section>
    </div>
    <article class="container-sexo-motivo-alta">
      <div class="container-graph sexo-container">
        <fa-icon class="expand-icon" [icon]="faExpand"></fa-icon>
        <section id="sexo" class="container-perfil">por sexo</section>
      </div>
      <div class="container-graph motivo-alta-container">
        <fa-icon class="expand-icon" [icon]="faExpand"></fa-icon>
        <section id="motivo-alta" class="container-perfil">motivo alta</section>
      </div>
    </article>
  </article>
</main>
