@import '../../assets/colors';
@import '../../assets/device-sizes';

.main-container-perfil {
  position: relative;

  .container-perfil {
    position: relative;
    display: flex;
    width: calc(100% - 20px);

    & {
      border-radius: 5px;
      box-shadow: 0 0 5px $gray-80;
    }
  }

  .container-graph {
    display: flex;
    position: relative;
    margin: 5px;
    width: 100%;
    box-shadow: none;
  }

  .expand-icon {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 99 !important;
    color: $gray-80;

    &:hover {
      transition: 0.3s;
      color: $gray-100;
      cursor: pointer;
    }
  }

  .filtro-container {
    width: calc(100% - 20px);
    height: 15%;

    #filtro {
      width: 100%;
    }
  }

  .cid-container {
    width: calc(100% - 20px);
    height: 85%;

    #cid {
      width: 100%;
    }
  }

  .idade-container {
    width: calc(100% - 20px);
    height: 50%;

    #idade {
      width: 100%;
    }
  }

  .container-sexo-motivo-alta {
    height: 50%;
    width: calc(100% - 10px);
    display: flex;

    .motivo-alta-container, .sexo-container {
      width: calc(100% - 10px);
      #motivo-alta, #sexo {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-container-perfil {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;

    #filtro, #cid, #motivo-alta, #idade, #sexo {
      height: auto;
    }

    .flex-column {
      height: auto;
    }

    .filtro-container{
      height: auto;
    }

    .container-sexo-motivo-alta {
      flex-direction: column;
      height: auto;

      #motivo-alta, #sexo {
        height: auto;
        width: 100%;
      }
    }

    .container-perfil {
      height: auto;
    }
  }
}
