<main class="flex-row main-container-perfil">
  <article class="flex-column container-column">
    <form [formGroup]="perfilForm" class="container-graph filtro-container">
      <section id="filtro" class="container-perfil">
        <article class="flex-column">
          <section class="form-card">
            <div class="form-group card-date">
              <label class="form-label" for="inicio">Início:</label>
              <input formControlName="dataInicio" class="form-date" id="inicio" type="date">
            </div>
            <div class="form-group card-date">
              <label class="form-label" for="final">Final:</label>
              <input formControlName="dataFinal" class="form-date" id="final" type="date">
            </div>
          </section>
          <section formGroupName="tipoAtendimento" class="form-card flex-row">
            <section class="flex-column">
              <div class="form-group">
                <label class="form-label" for="interno">Interno</label>
                <input formControlName="interno" class="form-check" id="interno" value="I" type="checkbox">
              </div>
              <div class="form-group">
                <label class="form-label" for="urgencia">Urgência</label>
                <input formControlName="urgencia" class="form-check" id="urgencia" value="U" type="checkbox">
              </div>
            </section>
            <section class="flex-column">
              <div class="form-group">
                <label class="form-label" for="externo">Externo</label>
                <input formControlName="externo" class="form-check" id="externo" value="E" type="checkbox">
              </div>
              <div class="form-group">
                <label class="form-label" for="ambulatorial">Ambulatorial</label>
                <input formControlName="ambulatorial" class="form-check" id="ambulatorial" value="A" type="checkbox">
              </div>
            </section>
          </section>
        </article>
        <article class="flex-column container-select-search">
          <section id="select-multiple-container">
            <multiple-select (itemsSelected)="getItemsSelected($event)"
                             [items]="['uti','urte','cti','emergêcia','unidade 1','unidade 22','hemodinâmica','centro cirúrgico']">

            </multiple-select>
          </section>
          <section class="button-container">
            <button (click)="send(true)" class="search-button" #buttonAdulto>
              <fa-icon class="search-icon" [icon]="faMale"></fa-icon>
              <fa-icon class="search-icon" [icon]="faFemale"></fa-icon>
              Adulto
            </button>
            <button (click)="send(false)" class="search-button" #buttonPediatrico>
              <fa-icon class="search-icon" [icon]="faBabyCarriage"></fa-icon>
              Pediátrico
            </button>
          </section>
        </article>
      </section>
    </form>
    <div class="container-graph cid-container">
      <fa-icon class="expand-icon" id="expand-cid" [icon]="faExpand"></fa-icon>
      <section id="cid" class="container-perfil">por cid</section>
    </div>
  </article>
  <article class="flex-column container-column">
    <div class="container-graph idade-container">
      <fa-icon class="expand-icon" id="expand-idade" [icon]="faExpand"></fa-icon>
      <section id="idade" class="container-perfil">idade</section>
    </div>
    <article class="container-sexo-motivo-alta">
      <div class="container-graph sexo-container">
        <fa-icon class="expand-icon" [icon]="faExpand"></fa-icon>
        <section id="sexo" class="container-perfil">por sexo</section>
      </div>
      <div class="container-graph motivo-alta-container">
        <fa-icon class="expand-icon" [icon]="faExpand"></fa-icon>
        <section id="motivo-alta" class="container-perfil">motivo alta</section>
      </div>
    </article>
  </article>
</main>
