@import '../../assets/colors';
@import '../../assets/device-sizes';

.main-container-perfil {
  position: absolute;
  display: flex;
  width: 100%;


  .container-column {
    display: flex;
    flex-direction: column;
    //align-content: space-between;
    width: 50% !important;

  }

  .container-perfil {
    position: relative;
    display: flex;
    margin: 7px;
    & {
      border-radius: 5px;
      box-shadow: 0 0 5px $gray-80;
    }
  }

  .container-graph {
    display: flex;
    position: relative;
    width: 100%;
    box-shadow: none;
  }

  .expand-icon, #expand-cid, #expand-idade {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 99 !important;
    color: $gray-80;

    &:hover {
      transition: 0.3s;
      color: $gray-100;
      cursor: pointer;
    }
  }

  #expand-cid, #expand-idade {
    right: 15px;
  }


  .filtro-container {
    margin-top: 7px;
    height: 15%;

    #filtro {
      flex: 1;
    }
  }

  .cid-container {
    margin-bottom: 7px ;
    height: 85%;

    #cid {
      flex: 1;
    }
  }

  .idade-container {
    margin-top: 7px;
    height: 50%;

    #idade {
      flex: 1;
    }
  }

  .container-sexo-motivo-alta {
    margin-bottom: 7px ;
    position: relative;
    display: flex;
    flex: 1;
    height: 50%;

    .motivo-alta-container, .sexo-container {
      display: flex;
      width: 50%;

      #motivo-alta, #sexo {
        position: relative;
        flex: 1;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-container-perfil {
    flex-direction: column;
    overflow-y: scroll;
    justify-items: flex-start;
    justify-content: flex-start;

    .container-column {
      width: 100% !important;
      //width: calc(100% - 20px) !important;
      height: auto;

      .sexo-container, .idade-container, .cid-container {
        height: auto !important;
        margin: 0;
      }

      .container-sexo-motivo-alta {
        width: 100%;
        display: flex;
        flex-direction: column;

        .sexo-container, .motivo-alta-container {
          width: 100%;
        }
      }
    }
  }
}
