@font-face {
  font-family: manjari-bold;
  src: url('~src/fonts/Manjari/manjari-bold-webfont.woff2') format('woff2'),
  url('~src/fonts/Manjari/manjari-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: manjari;
  src: url('~src/fonts/Manjari/manjari-regular-webfont.woff2') format('woff2'),
  url('~src/fonts/Manjari/manjari-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: manjari-thin;
  src: url('~src/fonts/Manjari/manjari-thin-webfont.woff2') format('woff2'),
  url('~src/fonts/Manjari/manjari-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
