<main class="background-modal" [ngStyle]="{'display': open ? 'flex': 'none '}" #modalBackground>
  <section [ngStyle]="{ 'height': modal?.height, 'width': modal?.width }"
           [class]="applyTheme()" [ngClass]="[getDefaultSize(), 'custom-modal-container']" #modalContainer>
    <header class="custom-modal-header">
      {{modal?.title}}
      <ng-content select="[header]"></ng-content>
    </header>
    <section class="custom-modal-body">
      <p class="message">{{modal?.message}}</p>
      <ng-content select="[body]"></ng-content>
    </section>
    <footer class="custom-modal-footer" [class.footer-shadow]="isCustom()">
      <ng-container *ngIf="!isCustom()">
        <button *ngIf="modal?.useCancel" (click)="sendAnswer(false)"
                class="btn btn-link cancel-button">Cancel
        </button>
        <button (click)="sendAnswer(true)" class="btn ok-button">
          <em class="mr-1" [class.icon-bin]="modal?.useTrashIcon"></em>{{modal?.confirmationButtonName}}
        </button>
      </ng-container>
      <ng-content select="[footer]"></ng-content>
    </footer>
  </section>
</main>
