@import "../../../assets/colors";

.small, .medium, .larger {
  max-height: 95%;
  min-height: 250px;
  min-width: 400px;
}

.small {
  width: 40%;
}

.medium {
  width: 60%;
}

.larger {
  width: 70%;
}

.background-modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  & {
    z-index: 5000 !important;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.custom-modal-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;

  & {
    z-index: 5000;
    border-radius: 5px;
    background-color: white;
  }

  .custom-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    & {
      color: white;
      border-radius: 5px 5px 0 0;
      background-color: $info;
      font-size: 28px;
      font-weight: 300 !important;
      text-transform: capitalize;
    }

    .close-button {
      color: rgba(255, 255, 255, 0.5);
      font-size: 22px;
      cursor: pointer;
      font-weight: 400;

      &:hover {
        transition: 0.3s;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .custom-modal-body {
    display: flex;
    flex: 1;
    padding: 15px;

    & {
      overflow: auto;
    }

    .message {
      font-size: 20px;
    }
  }

  .custom-modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px;

    & {
      border-top: 1px solid #ddd;
      border-radius: 0 0 5px 5px;
    }

    .ok-button, .cancel-button {
      min-width: 100px;
    }

    .ok-button {
      background-color: $info;
      color: white;
    }
  }

  .footer-shadow {
    box-shadow: 0 -1px 30px rgba(0, 0, 0, 0.1);
  }
}

.warning-theme {
  .custom-modal-header, .ok-button {
    background-color: $warning !important;
  }

  .cancel-button {
    color: $warning !important;
  }
}

.danger-theme {
  .custom-modal-header, .ok-button {
    background-color: $danger !important;
  }

  .cancel-button {
    color: $danger !important;
  }
}

.info-theme {
  .custom-modal-header, .ok-button {
    background-color: $info !important;
  }

  .cancel-button {
    color: $info !important;
  }
}

.fixed-modal {
  display: none !important;
}
