@import '../../assets/colors';

.container-fast-search {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: inherit;
}

.search-container {
  justify-content: flex-end;
  width: 100%;
}

.input-search {
  width: 50%;
}

.table {
  width: 100%;
  margin: 0;

  .tbody {
    width: 100%;

    .row {
      border-radius: 3px;

      .td {
        text-align: left;
      }

      &:hover {
        border-radius: 0;
        transition: 0.3s;
        cursor: pointer;
        background-color: $gray-60;
      }
    }
  }
}

.content-search {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  height: 300px;
  margin-top: 10px;
  padding: 5px;

  & {
    overflow-y: scroll;
    background-color: $gray-30;
    border-radius: 6px;
    box-shadow: 0 0 6px $gray-100;
  }
}
