@import "constants";

$sign-in: #a3cd50;
$sign-in-light: #d5f897;
$time-out: #48bddc;
$time-out-light: #8fe9fb;
$sign-out: #ff9839;
$sign-out-light: #ffb571;

h3 {
  margin: 0 0 2.2rem;
}

.checklist-cabecalho {
  margin-bottom: 3.7rem;

  .checklist-titulo {
    color: $main-color;
    margin: 0 0 1.7rem;
  }

  .checklist-paciente {
    padding-left: 1.8rem;
  }
}

.grupo-titulo {
  border-radius: 1rem;
  padding: 0.8rem 2rem;
  margin-bottom: 1.3rem;
  box-shadow: 0 2px 4px #999999;

  &.sign-in {
    border: 1px solid $sign-in;
    background: linear-gradient($sign-in-light, $sign-in);
  }

  &.time-out {
    border: 1px solid $time-out;
    background: linear-gradient($time-out-light, $time-out);
  }

  &.sign-out {
    border: 1px solid $sign-out;
    background: linear-gradient($sign-out-light, $sign-out);
  }

  div {
    text-align: center;
    font-weight: bold;
  }
}

.sub-grupo-titulo {
  font-weight: bold;
  text-align: center;
  padding: 0.8rem 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 1px 3px #999999;
  margin: 1rem 0.35rem 1.3rem;

  &.sign-in {
    border: 2px solid darken($sign-in, 8%);
    background-color: darken($sign-in, 6%);
  }

  &.time-out {
    border: 2px solid darken($time-out, 8%);
    background-color: darken($time-out, 6%);
  }

  &.sign-out {
    border: 2px solid darken($sign-out, 9%);
    background-color: darken($sign-out, 6%);
  }
}

.checklist-item {
  padding: 0 0.7rem;
  margin-bottom: 0.7rem !important;

  label {
    margin-right: 2rem;
    display: inline-block;
    margin-left: 0 !important;
  }

  .list-unstyled {
    margin-left: 1rem;

    .checkbox {
      margin: 0.5rem 0 !important;
    }
  }

  .complemento {
    display: none;
  }

  .form-control {
    width: auto;
    display: inline-block;
  }

  .checkbox-right input[type=checkbox] {
    margin-left: 1rem;
    vertical-align: top;
  }
}

.question-label {
  font-weight: bold;
  margin-bottom: 0.7rem;
  vertical-align: text-top;
}

.btn-form {
  float: right;
  margin: 50px 20px 0 0;

    #btn-print {
      margin-top: -3.2px;
    }
}