@import "constants";

$sign-in: #a3cd50;
$sign-in-light: #d5f897;
$time-out: #48bddc;
$time-out-light: #8fe9fb;
$sign-out: #ff9839;
$sign-out-light: #ffb571;

.no-view {
  display: none;
}

@page { size: landscape; margin: 5px auto; background: red; }

@media print{

  body {
    height: 700px !important;
  }

  .no-print {
    display: none;
  }

  .col-lg-4, .print-sign-in{
    width: 300px !important;
    margin: -30px 0 0 0;
    padding: 10px !important;
    float: left;
    line-height: 14px;

    label{
      font-size: 10px;
      font-weight: normal !important;
    }
  }

  .print-time-out {
    width: 450px !important;
    height: 740px;
    margin-top: -30px;
    line-height: 15px;

    label{
      font-size: 10px;
      font-weight: normal !important;
    }
  }

  .print-sign-out {
    width: 300px !important;
    float: right;
    margin: -739px 0 0 0;

    label{
      font-size: 10px;
      font-weight: normal !important;
    }
  }

  h2 {
    margin: 0 0 0 2.2rem !important;
    font-size: 22px;
  }

  .checklist-paciente{
    display: none !important;
  }

  .grupo-titulo {
    &.sign-in {
      background: linear-gradient($sign-in-light, $sign-in) !important;
      padding: 0 !important;
      height: 30px !important;

      div#title-sign-in {
        margin: 8px 0 0 10px !important;
        float: left;
      }

      div#title-sign-in::before {
        content: '-    ';
      }

      div#title-ind-anes {
        margin: 8px 0 0 8px;
        float: left;
      }
    }

    &.time-out {
      background: linear-gradient($time-out-light, $time-out) !important;
      height: 30px !important;

      div#title-time-out {
        margin: 0 0 0 0 !important;
        float: left;
      }

      div#title-time-out::before {
        content: '-  ';
        margin-left: 4px;
      }

      div#title-inc-cir {
        margin: 0 0 0 70px;
        float: left;
        padding: 0 !important;
      }
    }

    &.sign-out {
      background: linear-gradient($sign-out-light, $sign-out) !important;
      height: 30px !important;

      div#title-sign-out {
        margin: 0 0 0 0 !important;
        float: left;
      }

      div#title-sign-out::before {
        content: '-  ';
        margin-left: 4px;
      }

      div#title-alta-so{
        margin: 0 0 0 15px;
        float: left;
        padding: 0 !important;
      }
    }
  }

  .sub-grupo-titulo {
    &.sign-in {
      background: $sign-in !important;
      padding: 0 !important;
    }
    &.time-out {
      background: $time-out !important;
      padding: 0 !important;
    }
    &.sign-out {
      background: $sign-out !important;
      padding: 0 !important;
    }
  }

  ul.list-unstyled {
    font-size: 12px;
  }

  div.time-out-align {
    width: 300px;
    float: left;
    //margin: -700px 0 0 400px;
  }

  .revisao-enfermagem {
    width: 100%;
    padding: 0 !important;
    float: left;
    position: relative !important;
  }

  #tempoMinutos {
    border: none;
    margin: -10px 0 0 -30px;
  }

  #q13-check {
    float: right;
  }

  #q16 {
    float: left;
  }

  #q17 {
    float: left;
  }

  #q18-check {
    width: 150px;
    margin: -34px 0 0 300px;
  }

  #q19-check {
    width: 200px;
    margin: -24px 0 0 300px;
  }

  .align-radio-q20 {
    float: right;
  }

  .align-radio-long-q20 {
    float: right;
    margin-top: -20px;
  }

  .align-radio-long-q12 {
    margin: -20px 0 0 100px;
  }

  #q21-check {
    float: right;
  }

  #q23 {
    float: left;
  }

  #q23-check {
    float: right;
  }

  #q24-check {
    float: right;
  }

  .app-footer svg {
    margin: -40px 0 0 0 !important;
  }

  div.logo {
    margin: -60px 0 0 360px !important;
    float: left;
    font-size: 18px !important;
  }

  div.sec-text {
    float: left;
    margin: -30px 0 0 370px;
    font-size: 18px !important;
  }
}