@import "constants";

hr {
  margin: 1rem 0;
}

.grupo-titulo {
  border-radius: 3px;
  padding: 0.8rem 2rem;
  background-color: $sec-color;
}

.sub-grupo>.grupo-titulo {
  background-color: darken($sec-color, 16%);
}

.checklist-item {
  padding: 0 1rem;
  margin-bottom: 0.9rem;
  border-bottom: 1px solid #999999;

  &:last-child {
    border: none;
  }

  label {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
  }

  .radio-group {
    width: 34%;
    display: inline-block;
    vertical-align: middle;

    .radio {
      display: inline-block;
      margin: 0 0 0 2.5rem;

      input {
        margin-top: 3px;
      }
    }
  }
}