<!--
<section class="diagnostic" [class.active]="currentStep === 0">
  <fast-search *ngIf="fastSearchVisibility" (getData)="setCid($event)" (visible)="getVisibilityFastSearch($event)"
               [service]="cidsService"
               [fields]="['id', 'diagnostico']" [widthField]="['1', '11']"
               [height]="'150px'">
  </fast-search>
</section>
-->

<section class="">
  <app-diagnostico-status></app-diagnostico-status>
</section>
<!--
<section class="diagnostic" [class.active]="currentStep === 1">
  <h3 class="diagnostic-list-title">Diagnóstico(s) de Admissão</h3>
  <section class="diagnostic-list">
    <ul class="list" #listCidHTML>
      <li class="item" id="{{cid.id}}" *ngFor="let cid of cidsSelected">
        <div class="item-cid">{{cid.id}} - {{cid.diagnostico}}</div>
        <div class="items-status">
            <span id="status-{{cidStatus.status}}" class="btn-status"
                  (click)="setStatusCid(cidStatus.status, cid, $event)"
                  *ngFor="let cidStatus of diagnosticStatus"> {{cidStatus.status}}</span>
        </div>
        <span (click)="removeCid(cid)"><fa-icon class="btn-minus" [icon]="faMinusCircle"></fa-icon></span>
        <div class="item-signature"><span>5320 - Patrícia Caldas de Oliveira</span></div>
      </li>
    </ul>
  </section>
  <div class="button-add" (click)="setShowListCid()">
    <fa-icon class="icon" [icon]="faPlus"></fa-icon>
  </div>
</section>
-->

