@import "src/assets/colors";

.diagnostic-title {
  width: 91.66%;
  color: $gray-90;
  padding-left: 30px;
  margin: 20px 0 20px 0;

  .icon {
    font-size: 24px;
    margin-right: 5px;
  }

  hr {
    border-bottom: 1px solid $gray-70;
  }
}

.diagnostic {
  background: $white;

  .diagnostic-list-title {
    color: #14AC60;
    padding-left: 12px;
  }

  .diagnostic-list {
    .list {
      color: $gray-90;

      .item {
        width: 91.66%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 7px;
        margin: 7px;
        border-bottom: 1px solid $gray-60;


        .item-cid {
          flex: 10;
          margin-left: 5px;
        }

        .item-signature {
          width: 650px;
          margin-left: 5px;
        }
      }
    }
  }

  .button-add {
    width: 35px;
    height: 35px;
  }
}
