@import "~src/inputs";
@import "../../../assets/device-sizes";

.container-apache {
  display: flex;
  flex-direction: column;
  height: 100%;

  .paciente-info {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0 10px;

    & {
      background-color: $white;
      box-shadow: 1px 1px 10px $gray-80;
      border-radius: 3px;
    }

    .flex-column {
      margin: 3px 0;
    }

    .flex-row {
      height: auto;
      margin: 7px 10px;
      color: $gray-80;
    }
  }

  .container-form-apache {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;

    & {
      background-color: $white;
      box-shadow: 1px 1px 10px $gray-80;
    }
  }

  .select-containers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container-pressao {
    position: relative;
    height: 80px;
    color: $gray-80;

    .label-pressao {
      display: block;
      margin: 10px;
    }

    .form-group {
      display: inline;

      .form-label {
        font-size: 16px;
        margin: 5px;
      }

      .form-control {
        width: 100px;
      }
    }

    .errors {
      left: 10px;
      bottom: -20px;
    }
  }

  .container-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;

    .button {
      height: 35px;
      border-radius: 5px;
      margin: 0 5px;
      width: 100px;
    }
  }

  .left, .right {
    margin: 10px;
    width: 50%;

    .form-group {
      margin: 15px 0;
    }
  }
}

.show-problemas-cronicos, .hidden-problemas-cronicos {
  position: absolute;
  padding: 8px;
  border-radius: 5px;
  top: 35px;
  -moz-box-shadow: 1px 1px 10px $gray-100;
  -webkit-box-shadow: 1px 1px 10px $gray-100;
  box-shadow: 1px 1px 10px $gray-100;
  font-size: 14px;
  z-index: 99;
  background-color: $gray-20;
  transition: 0.5s;

  .item {
    margin: 3px 0;
  }
}

.hidden-problemas-cronicos {
  background-color: transparent;
  color: transparent;
  box-shadow: none;
}

.label {
  font-size: 16px;
}

.info {
  margin-left: 5px;

  & {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;

  }
}


.errors, .hidden {
  display: initial;
  position: absolute;
  margin: 0;
  right: 8px;
  z-index: 2;
  bottom: -15px;

  & {
    text-transform: none;
    font-size: 14px;
    color: $danger;
    transition: 1s;
  }
}

.hidden {
  color: transparent;
  transition: 0.3s;
}

.info-icon {
  align-self: center;
  margin-right: 5px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    color: $blue-default;
    transition: 0.3s;
  }
}

@media screen and (max-width: 1700px) {

  .container-form-apache {
    position: relative;
    align-items: center;
    overflow-y: scroll;

    .container-pressao {
      width: 70% !important;

      .label-pressao, .form-group, .form-label {
        margin-left: 0 !important;
      }
    }

    .select-containers {
      position: absolute;
      display: flex;
      flex-direction: column !important;
      top: 85px;
      height: auto !important;
      align-items: center;

      .left, .right {
        position: relative;
        margin: 0 !important;
        width: 70% !important;
      }

      .right {
        margin-top: -10px;
      }
    }

    .container-button {
      display: flex;
      justify-content: flex-end;
      position: initial !important;
      width: 70%;
      margin-right: 0;

      .button {
        margin: 0 0 0 10px;
      }
    }
  }

  #container-frequencia-cardiaca {
    margin: 5px 0;
  }
}

@media screen and (max-width: $smartphone-max-width) {
  .paciente-info {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;

    .flex-column {
      margin: 5px 5px 0 5px !important;
      width: 45%;
      height: auto;
    }

    .flex-row {
      margin: 5px !important;
      flex-direction: column !important;

      .info, .label {
        margin: 0;
      }
    }
  }

  .container-apache{
    position: absolute;
    border: 2px solid green;
    height: auto;
  }
  .container-form-apache {
    border: 2px solid rebeccapurple;
    height: auto;
    overflow-y: initial !important;

    .container-pressao {
      position: relative;
      display: flex;
      flex-direction: column !important;
      width: 50% !important;
      height: auto;

    }

    .select-containers {
      top: 0;
      position: relative !important;
    }

    .right {
      margin-top: 0;
    }
  }

  .info-icon {
    margin-top: 5px;
    align-self: flex-start;
  }

  .hidden-problemas-cronicos {
    display: none;
    background-color: transparent;
    color: transparent;
    box-shadow: none;
    left: 5px;
    bottom: -15px;
  }


  .errors, .hidden {
    left: 5px;
    bottom: -15px;
  }
}
