<main class="container-apache">
  <paciente-info [paciente]="registroAtendimento?.paciente"
                 [extras]="[{label: 'Registro', value:registroAtendimento?.id},
                 {label: 'Entrada',value:registroAtendimentoLeito?.dataEntrada | date:'dd/MM/yy - HH:mm'},
                 {label: 'Saída', value: (registroAtendimentoLeito?.dataAlta || registroAtendimento.dataAlta) | date:'dd/MM/yy - HH:mm'},
                 {label:'Motivo alta', value:registroAtendimento?.motivoAlta?.descricao},
                 {label: 'Setor', value: registroAtendimento?.setor?.setor?.descricao}]"></paciente-info>
  <section class="container-form-apache">
    <section class="container-pressao">
      <h3 class="label-pressao">Pressão Arterial Média (mmHg):</h3>
      <div class="form-group">
        <label for="ps" class="form-label">PS</label>
        <input [(ngModel)]="pressaoMedia.ps" id="ps" class="form-control " type="number">
      </div>
      <div class="form-group">
        <label for="pd" class="form-label">PD</label>
        <input [(ngModel)]="pressaoMedia.pd" id="pd" class="form-control" type="number">
      </div>
      <div class="form-group">
        <label for="pm" class="form-label">PM</label>
        <input id="pm" class="form-control control-disable" type="text">
      </div>
    </section>
    <section class="flex-row align-selects">
      <article class="col-container">
        <div class="form-group">
          <h3 class="select-label">Temperatura(ºC)</h3>
          <ng-select class="select-style" [(ngModel)]="apache.temperatura" [items]="temperatura"></ng-select>
<!--          <p [ngClass]="[apache?.temperatura == undefined && send ? 'errors': 'hidden']">{{messageError}}</p>-->
        </div>

        <div class="form-group">
          <h3 class="select-label">Arterial pH ou HCO3</h3>
          <ng-select class="select-style" [(ngModel)]="apache.arteriaPh" [items]="arterialPh"></ng-select>
        </div>

        <div class="form-group">
          <h3 class="select-label">Na+ Sérico (meq/l)</h3>
          <ng-select class="select-style" [(ngModel)]="apache.naSerico" [items]="naSerico"></ng-select>
        </div>

        <div class="form-group">
          <h3 class="select-label">Leucócitos (10^3/£gl)</h3>
          <ng-select class="select-style" [(ngModel)]="apache.leucocitos" [items]="leucocitos"></ng-select>
        </div>
      </article>
      <article class="col-container">

        <div class="form-group">
          <h3 class="select-label">Glasgow Com Escala</h3>
          <ng-select class="select-style" [(ngModel)]="apache.glasgow" [items]="glasgow"></ng-select>
        </div>

        <div class="form-group">
          <section class="flex-row">
            <fa-icon (mouseover)="showProblemas = true" (mouseleave)="showProblemas = false" class="info-icon"
                     [icon]="faInfoCircle"></fa-icon>
            <h3 class="select-label">Problemas Crônicos de Saúde</h3>
          </section>
          <div class="form-group flex-column">
            <ng-select class="select-style" [(ngModel)]="apache.problemasCronicos"
                       [items]="problemasCronicos"></ng-select>
          </div>
          <section [ngClass]=" [showProblemas ? 'show-problemas-cronicos':'hidden-problemas-cronicos']">
            <p class="item">1) Cirrose-Biópsia</p>
            <p class="item">2) New York Heart Association Class IV</p>
            <p class="item">3) Severa COPD: Hipercapnia,O2 Dependente, Hipertensão Pulmonar</p>
            <p class="item">4) Diálise Crônica</p>
            <p class="item">5) Imunocomprometido</p>
          </section>
        </div>
        <div class="form-group" id="container-frequencia-cardiaca">
          <h3 class="select-label">Frequência Cardíaca</h3>
          <ng-select class="select-style" [(ngModel)]="apache.frequenciaCardiaca"
                     [items]="frequenciaCardiaca"></ng-select>
        </div>
        <div class="form-group">
          <h3 class="select-label">Frequência Respiratória</h3>
          <ng-select class="select-style" [(ngModel)]="apache.frequenciaRespiratoria"
                     [items]="frequenciaRespiratoria"></ng-select>
        </div>
      </article>
      <article class="col-container">

        <div class="form-group">
          <h3 class="select-label">K+ Sérico (meq/l)</h3>
          <ng-select class="select-style" [(ngModel)]="apache.kSerico" [items]="kSerico"></ng-select>
        </div>

        <div class="form-group">
          <h3 class="select-label">Hematócrito</h3>
          <ng-select class="select-style" [(ngModel)]="apache.hematocrito" [items]="hematocrito"></ng-select>
        </div>

        <div class="form-group">
          <h3 class="select-label">A-aPO2 (FiO2 > 50%) ou PaO2 (FiO2 < 50%)</h3>
          <ng-select class="select-style" [(ngModel)]="apache.aapo" [items]="aapo"></ng-select>
        </div>

        <div class="form-group">
          <h3 class="select-label">Creatinina Sérica com ou sem IRA</h3>
          <ng-select class="select-style" [(ngModel)]="apache.creatinina" [items]="creatinina"></ng-select>
        </div>
      </article>
    </section>
    <footer class="apache-footer">
      <button (click)="save()" class="button button-blue">Salvar</button>
    </footer>
    <!--    <div class="container-button">
          <button (click)="save()" class="button button-blue">Salvar</button>
          <button (click)="clear()" class="button">Limpar</button>
        </div>-->
  </section>
</main>
