<main class="container-apache">
  <paciente-info [paciente]="registroAtendimentoLeito?.registroAtendimento?.paciente"
                 [extras]="[{label: 'Registro', value: registroAtendimentoLeito?.registroAtendimento?.id},
                 {label: 'Entrada',value:registroAtendimentoLeito?.dataEntrada | date:'dd/MM/yyyy - HH:mm'},
                 {label: 'Saída', value: (registroAtendimentoLeito?.dataAlta || registroAtendimentoLeito?.registroAtendimento?.dataAlta) | date:'dd/MM/yyyy - HH:mm'},
                 {label:'Motivo alta', value: registroAtendimentoLeito?.registroAtendimento?.motivoAlta?.descricao},
                 {label: 'Setor', value: registroAtendimentoLeito?.leito?.setor?.sigla}]"></paciente-info>
  <section class="container-form-apache">
    <section class="flex-row align-selects">
      <article class="col-container container-pressao">
        <h3 class="select-label">Pressão Arterial Média (mmHg)</h3>
        <div class="form-group">
          <label for="ps" class="form-label">Ps</label>
          <input (change)="calculaPressaoMedia()" [(ngModel)]="apache.pas" id="ps" class="form-control " type="number">
        </div>
        <div class="form-group">
          <label for="pd" class="form-label">Pd</label>
          <input (change)="calculaPressaoMedia()" [(ngModel)]="apache.pad" id="pd" class="form-control" type="number">
        </div>
        <div class="form-group">
          <label for="pm" class="form-label">Pm</label>
          <input [ngModel]="pressaoMedia" id="pm" class="form-control control-disable" type="text">
        </div>
        <p [ngClass]="[this.messagePressao != '' ? 'errors': 'hidden']">{{messagePressao}}</p>
      </article>
      <article class="col-container">
        <div class="form-group">
          <h3 class="select-label">Temperatura(ºC)</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.temperatura"
                     [items]="temperatura"></ng-select>
          <p [ngClass]="[checkFieldError(apache.temperatura) ? 'errors': 'hidden']">{{messageError}}</p>
        </div>

        <div class="form-group">
          <h3 class="select-label">Arterial pH ou HCO3</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.arterialPh"
                     [items]="arterialPh"></ng-select>
          <p [ngClass]="[checkFieldError(apache.arterialPh) ? 'errors': 'hidden']">{{messageError}}</p>
        </div>

        <div class="form-group">
          <h3 class="select-label">Na+ Sérico (meq/l)</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.naSerico"
                     [items]="naSerico"></ng-select>
          <p [ngClass]="[checkFieldError(apache.naSerico) ? 'errors': 'hidden']">{{messageError}}</p>
        </div>

        <div class="form-group">
          <h3 class="select-label">Leucócitos (10^3/£gl)</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.leucocitos"
                     [items]="leucocitos"></ng-select>
          <p [ngClass]="[checkFieldError(apache.leucocitos) ? 'errors': 'hidden']">{{messageError}}</p>
        </div>
      </article>
      <article class="col-container">

        <div class="form-group">
          <h3 class="select-label">Glasgow Com Escala</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.glasgow"
                     [items]="glasgow"></ng-select>
          <p [ngClass]="[checkFieldError(apache.glasgow) ? 'errors': 'hidden']">{{messageError}}</p>
        </div>

        <div class="form-group">
          <section class="flex-row">
            <fa-icon (mouseover)="showProblemas = true" (mouseleave)="showProblemas = false" class="info-icon"
                     [icon]="faInfoCircle"></fa-icon>
            <h3 class="select-label">Problemas Crônicos de Saúde</h3>
          </section>
          <div class="form-group flex-column">
            <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.problemasCronicos"
                       [items]="problemasCronicos"></ng-select>
            <p [ngClass]="[checkFieldError(apache.problemasCronicos) ? 'errors': 'hidden']">{{messageError}}</p>

          </div>
          <section [ngClass]=" [showProblemas ? 'show-problemas-cronicos':'hidden-problemas-cronicos']">
            <p class="item">1) Cirrose-Biópsia</p>
            <p class="item">2) New York Heart Association Class IV</p>
            <p class="item">3) Severa COPD: Hipercapnia,O2 Dependente, Hipertensão Pulmonar</p>
            <p class="item">4) Diálise Crônica</p>
            <p class="item">5) Imunocomprometido</p>
          </section>
        </div>
        <div class="form-group" id="container-frequencia-cardiaca">
          <h3 class="select-label">Frequência Cardíaca</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.frequenciaCardiaca"
                     [items]="frequenciaCardiaca"></ng-select>
          <p [ngClass]="[checkFieldError(apache.frequenciaCardiaca) ? 'errors': 'hidden']">{{messageError}}</p>

        </div>
        <div class="form-group">
          <h3 class="select-label">Frequência Respiratória</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.frequenciaRespiratoria"
                     [items]="frequenciaRespiratoria"></ng-select>
          <p [ngClass]="[checkFieldError(apache.frequenciaRespiratoria) ? 'errors': 'hidden']">{{messageError}}</p>

        </div>
      </article>
      <article class="col-container">

        <div class="form-group">
          <h3 class="select-label">K+ Sérico (meq/l)</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.kSerico"
                     [items]="kSerico"></ng-select>
          <p [ngClass]="[checkFieldError(apache.kSerico) ? 'errors': 'hidden']">{{messageError}}</p>
        </div>

        <div class="form-group">
          <h3 class="select-label">Hematócrito</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.hematocrito"
                     [items]="hematocrito"></ng-select>
          <p [ngClass]="[checkFieldError(apache.hematocrito) ? 'errors': 'hidden']">{{messageError}}</p>
        </div>

        <div class="form-group">
          <h3 class="select-label">A-aPO2 (FiO2 > 50%) ou PaO2 (FiO2 < 50%)</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.aapo" [items]="aapo"></ng-select>
          <p [ngClass]="[checkFieldError(apache.aapo) ? 'errors': 'hidden']">{{messageError}}</p>

        </div>

        <div class="form-group">
          <h3 class="select-label">Creatinina Sérica com ou sem IRA</h3>
          <ng-select class="select-style" [clearable]="false" [(ngModel)]="apache.creatininaSerica"
                     [items]="creatinina"></ng-select>
          <p [ngClass]="[checkFieldError(apache.creatininaSerica) ? 'errors': 'hidden']">{{messageError}}</p>
        </div>
      </article>
    </section>
    <footer class="apache-footer">
      <button (click)="save()" class="button button-blue">Salvar</button>
      <button (click)="clear()" class="button button-gray">Limpar</button>
    </footer>
  </section>
</main>
