@import "~src/inputs";
@import "../../../assets/device-sizes";

.container-apache {
  display: flex;
  flex-direction: column;
  height: 100%;

  .paciente-info {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0 10px;

    & {
      background-color: $white;
      box-shadow: 1px 1px 10px $gray-80;
      border-radius: 3px;
    }

    .flex-column {
      margin: 3px 0;
    }

    .flex-row {
      height: auto;
      margin: 7px 10px;
      color: $gray-80;
    }
  }

  .container-form-apache {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px;

    & {
      background-color: $white;
      box-shadow: 1px 1px 10px $gray-80;
    }
  }

  .container-pressao {
    position: relative;
    height: 80px;
    color: $gray-80;

    .label-pressao {
      display: block;
      margin: 10px;
    }

    .form-group {
      display: inline;

      .form-label {
        font-size: 16px;
        margin: 5px;
      }

      .form-control {
        width: 100px;
      }
    }

    .errors {
      left: 10px;
      bottom: -20px;
    }
  }

  .left, .right {
    margin: 10px;
    width: 50%;

    .form-group {
      margin: 15px 0;
    }
  }
}


.problemas-cronicos {
  font-size: 14px;

  .item {
    margin: 2px 0;
  }
}

.label {
  font-size: 16px;
}

.info {
  text-transform: capitalize;
  font-size: 16px;
  margin-left: 5px;
  font-weight: 400;
}


.errors {
  position: absolute;
  font-size: 14px;
  text-transform: none;
  right: 8px;
  bottom: -15px;
  z-index: 2;
  color: $danger;
  margin: 0;
}

.container-button {
  padding: 5px;
  position: relative;
  align-self: flex-end;
  left: 0;
  bottom: 10px;
  margin-bottom: 10px;

  .button {
    height: 35px;
    border-radius: 5px;
    margin: 0 5px;
    width: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .select-containers {
    height: auto;
    align-items: center;
    flex-direction: column !important;
  }
  .container-form-apache {
    align-items: center;
    height: 100%;
    overflow-y: scroll;
  }

  .left, .right {
    margin: 0;
    width: 70% !important;
  }
  .container-button {
    width: 70%;
    right: calc(100% - 220px);
    border: 1px solid red;
  }
}

@media screen and (max-width: 800px) {
  .left, .right, .container-pressao {
    width: 95% !important;
    margin: 0;
  }

  .right {
    margin-top: 0;
  }
}
