@import "~src/inputs";
@import "../../../assets/device-sizes";

.container-apache {
  display: flex;
  flex-direction: column;

  .container-form-apache {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 10px;
    align-items: center;
    justify-items: center;

    & {
      background-color: $white;
      box-shadow: 1px 1px 10px $gray-80;
    }
  }

  .align-selects {
    justify-content: center;

    .form-group {
      margin: 8px;
    }
  }

  .container-pressao {
    position: relative;
    justify-items: start;

    .form-control {
      box-shadow: none;
      border-color: #ccc;
    }

    .hidden, .errors {
      height: 50px;
      width: 100%;
      display: block;
      bottom: 0;
      margin: 10px;
      padding: 10px;
      text-align: center;
    }
  }

  .col-container {
    display: flex;
    margin: 25px 5px;
    flex-direction: column;
    width: 24%;
    max-height: 400px;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
    border-left: 1px solid $gray-60;
    border-right: 1px solid $gray-60;

    .form-group {
      justify-content: initial;
      width: auto;
    }

    .select-style {
      width: 200px;
    }
  }

  .select-label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
    color: $gray-80;
    word-wrap: break-word;
    max-width: 200px;
  }

  .container-button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;

    .button {
      height: 35px;
      border-radius: 5px;
      margin: 0 5px;
      width: 100px;
    }
  }
}

.show-problemas-cronicos, .hidden-problemas-cronicos {
  position: absolute;
  padding: 8px;
  border-radius: 5px;
  top: 35px;
  -moz-box-shadow: 1px 1px 10px $gray-100;
  -webkit-box-shadow: 1px 1px 10px $gray-100;
  box-shadow: 1px 1px 10px $gray-100;
  font-size: 14px;
  z-index: 99;
  background-color: $gray-20;
  transition: 0.5s;

  .item {
    margin: 3px 0;
  }
}

.hidden-problemas-cronicos {
  z-index: -1;
  background-color: transparent;
  color: transparent;
  box-shadow: none;
}

.label {
  font-size: 16px;
}

.info {
  margin-left: 5px;

  & {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;

  }
}

.errors, .hidden {
  display: initial;
  margin: 0;
  z-index: 2;

  & {
    text-transform: none;
    font-size: 14px;
    color: $danger;
    transition: 1s;
  }
}

.hidden {
  color: transparent;
  transition: 0.3s;
}

.info-icon {
  align-self: start;
  margin-right: 5px;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    color: $blue-default;
    transition: 0.3s;
  }
}

.apache-footer {
  padding: 5px;
  width: 100%;
  background-color: rgba($gray-50, 0.7);
  border-top: 1px solid $gray-60;
  transition: 0.5s;
  display: flex;
  left: 0;
  bottom: 0;
  position: fixed;
  justify-content: flex-end;

  &:hover {
    box-shadow: 1px 1px 5px $gray-100;
    background-color: $gray-50;

    .button-blue {
      background-color: $blue-default !important;
    }

    .button {
      background-color: $gray-60;
    }
  }

  .button-blue {
    background-color: rgba($blue-default, 0.5);
  }

  .button {
    width: 80px;
    border-radius: 2px;
    margin-right: 10px;
    border: 1px solid $gray-60;
    font-weight: 500;

    &:hover {
      background-color: $gray-60;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .container-form-apache {
    position: relative !important;
    height: auto !important;
  }
  .align-selects {
    position: relative;
    flex-direction: column !important;
  }
  .col-container {
    margin: 10px auto 20px auto !important;
    width: 70% !important;
  }
}
