@import "src/assets/colors";

.filter-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: $white;
  margin: 10px;
  box-shadow: 0 0 3px $gray-80;
  font-size: 16px;
  min-height: 90px;
  flex-wrap: wrap;
  width: 100%;

  .button-container {
    display: flex;
    margin: 20px 0;

    .search-button {
      margin: 5px 5px 0 5px;
      height: 35px;
      padding: 5px;
      min-width: 80px;
      flex: 1;

      & {
        text-align: center;
        color: $white;
        border-radius: 4px;
        background-color: rgba($blue-default, 0.7);
      }

      &:hover {
        transition: 0.3s;
        cursor: pointer;
        background-color: $blue-default;
      }

      .search-icon {
        margin-right: 5px;
      }
    }

    .btn-clear {
      min-width: 80px;
      margin: 5px 5px 0 5px;
      height: 35px;
      padding: 5px;
      border: 1px solid $gray-60;

      &:hover {
        background-color: $gray-60;
      }
    }
  }
}

.filter-errors {
  transition: 0.3s;
  color: $danger;
  font-size: 14px;

  .control-date {
    border-bottom: 2px solid $danger !important;
    font-size: 16px;
  }

  .ng-select-single {
    border-radius: 5px;
    border: 2px solid $danger !important;
    color: $danger !important;
  }
}

#crase {
  font-weight: 600;
  margin-bottom: 20px;
}
