<main class="filter-container" [formGroup]="form">
  <div class="form-group-float" *ngIf="hasSearch">
    <input formControlName="busca" title="busca" placeholder="Digite sua busca..." type="text" class="control">
  </div>
  <div class="form-group-float" *ngIf="hasDateInterval"
       [ngClass]="[ isDateValid('inicio') && submitted || this.dateMessage != '' ? 'filter-errors' : '']">
    <label class="label-float" for="inicio">Data Entrada</label>
    <input (change)="checkDateInterval()" formControlName="inicio" id="inicio" type="date"
           class="control-date">
    <span class="message-error" *ngIf="submitted && isDateValid('inicio')">Preencha este campo</span>
    <span class="message-error" *ngIf="this.dateMessage != ''">{{ this.dateMessage }}</span>
  </div>
  <span id="crase">à</span>
  <div class="form-group-float" *ngIf="hasDateInterval"
       [ngClass]="[isDateValid('fim') && submitted || this.dateMessage != '' ? 'filter-errors' : '']">
    <label class="label-float" for="fim">Data Entrada</label>
    <input (change)="checkDateInterval()" formControlName="fim" id="fim" type="date" class="control-date">
    <span class="message-error" *ngIf="isDateValid('fim') && submitted">Preencha este campo</span>
  </div>
  <div class="form-group-float" *ngIf="hasSelect" [ngClass]="[!isValid('setor') && submitted ? 'filter-errors' : '']">
    <ng-select [clearable]="false" [items]="items" [bindLabel]="bindLabel" [bindValue]="bindValue"
               formControlName="setor">
    </ng-select>
    <span class="message-error" *ngIf="!isValid('setor') && submitted">Escolha um setor</span>
  </div>
  <div class="button-container">
    <button (click)="send()" class="search-button">
      <fa-icon class="search-icon" [icon]="faIconSearch"></fa-icon>
      <span>Buscar</span>
    </button>
    <button class="button btn-clear" (click)="clear()">Limpar</button>
  </div>
</main>
