<main class="container">
  <app-filter [items]="setores" [bindLabel]="'sigla'"></app-filter>
  <div class="container-collapse" #collapse>
    <div id="{{setor.id}}" class="collapse" *ngFor="let setor of setores">
      <div class="collapse-header">
        {{setor.descricao}}
        <fa-icon class="btn-open" [icon]="faMin" (click)="close(setor.id)"></fa-icon>
        <fa-icon class="btn-open" [icon]="faPlus" (click)="open(setor.id)"></fa-icon>
      </div>
      <section class="collapse-content collapse-none">
        <div class="table table-list">
          <section class="tbody content-paciente" [scrollWindow]="false" infinite-scroll (scrolled)="scrollDown()">
            <spinner [loading]="listLoading"></spinner>
            <div class="row" *ngFor="let paciente of pacientes">
              <span class="td flex-1">{{paciente.id}}</span>
              <span class="td flex-3">{{paciente.nome}}</span>
              <span class="td flex-1">{{paciente.nascimento | date: "dd/MM/yyyy" }}</span>
              <span class="td flex-3">{{paciente.nomeMae}}</span>
              <span class="td flex-1">{{paciente.sexo}}</span>
            </div>
            <!-- <app-scroll-spinner [show]="showListScrollSpinner"></app-scroll-spinner>-->
            <div class="empty" *ngIf="pacientes?.length == 0">
              <p>Nenhum paciente encontrado!</p>
              <!--<fa-icon class="icon" [icon]="faFrown" size="2x"></fa-icon>-->
            </div>
          </section>
        </div>
      </section>
    </div>
  </div>
</main>
