<main class="container">
  <app-filter [hasDateInterval]="false" [hasSelect]="false" [bindLabel]="'sigla'"
              (statusSearch)="getStatusSearch()"></app-filter>
  <app-collapse *ngIf="searchEmpty" [items]="setores" [prop]="'descricao'" (open)="getRegistros($event)">
    <div class="table table-list">
      <spinner [loading]="listLoading"></spinner>
      <section class="thead">
        <span class="th flex-3">Paciente</span>
        <span class="th flex-1">Nascimento</span>
        <span class="th flex-3">Leito</span>
        <span class="th flex-1">Convenio</span>
      </section>
      <section class="tbody content-paciente" [scrollWindow]="false" infinite-scroll
               (scrolled)="scrollDown()">
        <div class="row" *ngFor="let registroLeito of registroLeitos" (click)="showProntuario(registroLeito.atendimento.paciente.id)">
          <span class="td flex-3">{{registroLeito.atendimento.paciente.nome}}</span>
          <span class="td flex-1">{{registroLeito.atendimento.paciente.nascimento | date: "dd/MM/yyyy" }}</span>
          <span class="td flex-3">{{registroLeito.leito.descricao}}</span>
          <span class="td flex-1">{{registroLeito.atendimento.convenio.fantasia}}</span>
        </div>
        <div class="empty" *ngIf="registroLeitos?.length == 0">
          <p>Não existe paciente internado no setor!</p>
        </div>
      </section>
      <app-scroll-spinner [show]="showListScrollSpinner"></app-scroll-spinner>
    </div>
  </app-collapse>
  <div class="table table-list" *ngIf="!searchEmpty">
    <spinner [loading]="listLoading"></spinner>
    <section class="thead">
      <span class="th flex-3">Paciente</span>
      <span class="th flex-1">Nascimento</span>
      <span class="th flex-3">Leito</span>
      <span class="th flex-1">Convenio</span>
    </section>
    <section class="tbody content-paciente" [scrollWindow]="false" infinite-scroll (scrolled)="scrollDown()">
      <div class="row" *ngFor="let registroLeito of registroLeitos" (click)="showProntuario(registroLeito.atendimento.paciente.id)">
        <span class="td flex-3">{{registroLeito.atendimento.paciente.nome}}</span>
        <span class="td flex-1">{{registroLeito.atendimento.paciente.nascimento | date: "dd/MM/yyyy" }}</span>
        <span class="td flex-3">{{registroLeito.leito.descricao}}</span>
        <span class="td flex-1">{{registroLeito.atendimento.convenio.fantasia}}</span>
      </div>
      <div class="empty" *ngIf="registroLeitos?.length == 0">
        <p>Não existe paciente internado no setor!</p>
      </div>
    </section>
    <app-scroll-spinner [show]="showListScrollSpinner"></app-scroll-spinner>
  </div>
</main>
