@import "../../assets/device-sizes";
@import "../../assets/colors";

ul, li {
  list-style: none;
}

.horizontal-step {
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border: 1px solid black;

  & .step-icon {
    color: $white;
    font-weight: bold;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: $blue-default;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }

  & .horizontal-line {
    border-top-width: 8px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
    height: 0;
    margin: 0 -15px;
    min-width: 32px;
  }

}
