<main class="container-grupo">
  <article class="card card-nome" [ngClass]="{background: 'red'}">
    <form [formGroup]="form" class="form-container">
      <div class="form-group flex-column">
        <label for="nome" class="form-label">Nome:</label>
        <input class="form-control" formControlName="nome" id="nome" type="text">
        <div *ngIf="grupo.usersCount == 0">
          <label for="status" class="form-label">Habilitado:</label>
          <input id="status" type="checkbox" class="form-check" formControlName="habilitado">
        </div>
        <button (click)="save()" class="button button-blue btn-save">Salvar</button>
      </div>
    </form>
  </article>

  <article class="table" *ngFor="let group of aliasesGrupo">
    <section class="thead">
      <span class="th">Permissões {{group}}</span>
    </section>
    <section class="tbody" *ngFor="let permissao of permissoes">
      <div class="row" [ngClass]="{'selected': containsPermission(permissao.id)}"
           (click)="setPermission(permissao.id,$event.target)" *ngIf="group == permissao.alias">
        {{permissao.nome}}
      </div>
    </section>
  </article>
</main>

