<main class="plano-terapeutico-container">
  <hr class="line">
  <paciente-info [useBigName]="true" [useMinimizeButton]="false" [paciente]="paciente"></paciente-info>
  <hr class="line">
  <article class="row">
    <section class="box">
      <h3 class="label">Problema ativo</h3>
      <p class="info">{{ planoTerapeutico?.problemaAtivo }}</p>
    </section>
    <section class="box">
      <h3 class="label">Resultado esperado</h3>
      <p class="info"> {{ planoTerapeutico?.resultadoEsperado }}</p>
    </section>
    <section class="box">
      <h3 class="label">Conduta</h3>
      <p class="info"> {{ planoTerapeutico?.conduta }}</p>
    </section>
    <section class="box" id="prazo">
      <h3 class="label">Prazo</h3>
      <p class="info"> {{ planoTerapeutico?.prazo }}</p>
    </section>
  </article>
  <article class="row">
    <section class="box">
      <h3 class="label">Médico</h3>
      <p class="info">Maria da Silva Sauro</p>
    </section>
    <section class="box bool-questions">
      <div class="form-group">
        <label class="form-label" for="plano-atingido">Sim</label>
        <input class="form-control" [value]="true" [(ngModel)]="planoTerapeutico.atingido" id="plano-atingido"
               type="radio"
               name="atingido">
      </div>
      <div class="form-group">
        <label class="form-label" for="plano-nao-atingido">Não</label>
        <input class="form-control" [value]="false" [(ngModel)]="planoTerapeutico.atingido" id="plano-nao-atingido"
               type="radio"
               name="atingido">
      </div>
    </section>
    <section class="box">
      <div class="form-group"  id="justificativa-container">
        <label for="justificativa" class="label">Médico</label>
        <select class="form-control" name="justificativa" id="justificativa">
          <option class="select-option" *ngFor="let justificativa of justiticativas"
                  [value]="justificativa.value">{{justificativa.desc}}</option>
        </select>
      </div>
    </section>
  </article>
</main>
