<main class="plano-terapeutico-container">
  <hr class="line">
  <paciente-info [useBigName]="true" [useMinimizeButton]="false" [paciente]="paciente"></paciente-info>
  <hr class="line">
  <article class="row">
    <section class="box">
      <h3 class="label">Problema ativo</h3>
      <p class="info">e suffered alteration in some form, by injected humour, or randomised words which don't look even
        slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
        embarrassing hidden in the middle of text. All the Lorem I</p>
    </section>
    <section class="box">
      <h3 class="label">Resultado esperado</h3>
      <p class="info"> is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English. Many desktop publishing packages and web page editors now
        use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
        their infan</p>
    </section>
    <section class="box">
      <h3 class="label">Conduta</h3>
      <p class="info"> is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English. Many desktop publishing packages and web page editors now
        use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
        their infan</p>
    </section>
    <section class="box" id="prazo">
      <h3 class="label">Prazo</h3>
      <p class="info"> 30 dias</p>
    </section>
  </article>
</main>
