@import "../grupo-fator-risco/grupo-fator-risco.component";
@import "../../estratificacao/form/estratificacao-risco-form.component";
@import "../grupo-tev-clinico/grupo-tev-clinico.component";
@import "../grupo-braden/grupo-braden.component";
@import "../grupo-bradenq/grupo-bradenq.component";
@import "../grupo-escala-jh-frat/grupo-escala-jh-frat.component";
@import "../grupo-humpty-dumpty/grupo-humpty-dumpty.component";

.subtitle {
  font-size: 16px;
  margin-top: 20px;
}

.resume-title {
  background-color: #2B517E;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  border-radius: 7px;
}

grupo-fator-risco {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
