<div class="resume-body">
  <h2 class="subtitle hr">Riscos</h2>
  <div class="row-resume">
    <div class="column-risk" *ngFor="let risk of propertiesRisco">
      <span class="span-bold">{{risk.id}}) </span>
      <div class="descricao">{{risk.descricao}}</div>
      <div class="check">
        <span class="icon-default" [class.icon-check]="risk.valor == true"><fa-icon [icon]="faCheck"></fa-icon></span>
        <span class="icon-default" [class.icon-unCheck]="risk.valor == false"><fa-icon [icon]="faTimesCircle"></fa-icon></span>
      </div>
    </div>

    <h2 class="subtitle hr">Tev Cliníco</h2>
    <div class="column-tev" *ngFor="let tevClinico of propertiesTevClinical">
      <span class="span-bold">{{tevClinico.id}}) </span>
      <div class="descricao">{{tevClinico.descricao}}</div>
      <div class="check">
        <span class="icon-default" [class.icon-check]="tevClinico.valor == true"><fa-icon
          [icon]="faCheck"></fa-icon></span>
        <span class="icon-default" [class.icon-unCheck]="tevClinico.valor == false"><fa-icon
          [icon]="faTimesCircle"></fa-icon></span>
      </div>
    </div>

    <h2 class="subtitle hr">Tev Cirúrgico</h2>
    <div class="column-tev" *ngFor="let tevSurgical of propertiesTevSurgical">
      <span class="span-bold">{{tevSurgical.id}}) </span>
      <div class="descricao">{{tevSurgical.descricao}}</div>
      <div class="check">
        <span class="icon-default" [class.icon-check]="tevSurgical.valor == true"><fa-icon
          [icon]="faCheck"></fa-icon></span>
        <span class="icon-default" [class.icon-unCheck]="tevSurgical.valor == false"><fa-icon
          [icon]="faTimesCircle"></fa-icon></span>
      </div>
    </div>

    <h2 class="subtitle hr">Braden</h2>
    <div class="column-braden" *ngFor="let braden of propertiesBraden">
      <span class="span-bold">{{braden.id}}) </span>
      <div class="question">{{braden.descricao}} :</div>
      <div class="response" *ngIf="braden.valor != ''">
       <span class="icon-check"><fa-icon
         [icon]="faCheck"></fa-icon></span> {{braden.valor}}
      </div>
    </div>

    <h2 class="subtitle hr">BradenQ</h2>
    <div class="column" *ngFor="let bradenQ of propertiesBradenQ">
      <span class="span-bold">{{bradenQ.id}}) </span>{{bradenQ.descricao}}
      <div class="check">
        <span class="icon-default" [class.icon-check]="bradenQ.valor == true"><fa-icon
          [icon]="faCheck"></fa-icon></span>
        <span class="icon-default" [class.icon-unCheck]="bradenQ.valor == false"><fa-icon
          [icon]="faTimesCircle"></fa-icon></span>
      </div>
    </div>

    <h2 class="subtitle hr">Escala de JhFrat</h2>
    <div class="column" *ngFor="let jhFrat of propertiesJhFrat">
      <span class="span-bold">{{jhFrat.id}}) </span>{{jhFrat.descricao}}
      <div class="check">
        <span class="icon-default" [class.icon-check]="jhFrat.valor == true"><fa-icon
          [icon]="faCheck"></fa-icon></span>
        <span class="icon-default" [class.icon-unCheck]="jhFrat.valor == false"><fa-icon
          [icon]="faTimesCircle"></fa-icon></span>
      </div>
    </div>
  </div>
</div>


