@import "../grupo-fator-risco/grupo-fator-risco.component";
@import "../../estratificacao/form/estratificacao-risco-form.component";
@import "../grupo-tev-clinico/grupo-tev-clinico.component";
@import "../grupo-braden/grupo-braden.component";
@import "../grupo-bradenq/grupo-bradenq.component";
@import "../grupo-escala-jh-frat/grupo-escala-jh-frat.component";
@import "../grupo-humpty-dumpty/grupo-humpty-dumpty.component";

.subtitle {
  font-size: 16px;
  margin-top: 20px;
}

.hr {
  border-bottom: 1px solid #5A5B5B;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  font-size: 18px;
}

.resume-title {
  background-color: #2B517E;
  color: #FFFFFF;
  width: 100%;
  text-align: center;
  border-radius: 7px;
}

.resume-body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .row-resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    & .column-risk, .column-tev {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      vertical-align: center;
      align-items: center;
      width: 41.66%;
      margin: 10px 35px 0 0;

      & .descricao {
        width: 50%;
        line-height: 20px;
      }

      & .span-bold {
        font-weight: bold;
        margin-right: 5px;
      }

      & .check {
        min-width: 15px;
        min-height: 15px;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-basis: 200px;
        text-align: justify;
        position: relative;
        left: 0;


        & .icon-default, .icon-unCheck, .icon-check {
          margin: 5px;
          font-size: 18px;
        }

        & .icon-default {
          color: lightgray;
        }

        & .icon-check {
          color: #19d47a;
        }

        & .icon-unCheck {
          color: #de757a;
        }
      }
    }

    & .column-tev {
      width: 41.66%;

      & .descricao {
        width: 96%;
        justify-content: left;
        line-height: 20px;
      }

      & .span-bold {
        font-weight: bold;
        margin-right: 5px;
      }

      & .check {
        margin-left: 20px;
      }
    }

    & .column-braden {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      vertical-align: center;
      align-items: flex-start;
      width: 41.66%;
      margin: 10px 35px 0 0;

      & .span-bold {
        font-weight: bold;
        margin-right: 5px;
      }

      & .question {
        width: 95%;
        font-weight: bold;
      }

      & .response {
        color: #149553;
        margin-left: 20px;
      }

    }
  }

}

grupo-fator-risco {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
