<div class="scale-content">
  <grupo-fator-risco [risks_stratification]="risks_stratification" [formGroupRisk]="formGroupRisk"></grupo-fator-risco>
  <grupo-tev-clinico [tev_clinical]="tev_clinical" [formGroupTevClinical]="formGroupTevClinical"></grupo-tev-clinico>
  <grupo-tev-cirurgico [tev_surgical]="tev_surgical" [formGroupTevSurgical]="formGroupTevClinical"></grupo-tev-cirurgico>
  <grupo-braden [braden]="braden" [formGroupBraden]="formGroupBraden"></grupo-braden>
  <grupo-bradenq [bradenq]="bradenq" [formGroupBradenq]="formGroupBradenq"></grupo-bradenq>
  <grupo-humpty-dumpty [escala_humpty_dumpty]="escala_humpty_dumpty" [formGroupHumptyDumpty]="formGroupHumptyDumpty"></grupo-humpty-dumpty>
  <grupo-escala-jh-frat [escala_jh_frat]="escala_jh_frat" [formGroupJhFrat]="formGroupJhFrat"></grupo-escala-jh-frat>
</div>
