@import '../../../assets/device-sizes';
@import '../../../assets/colors';

.legend {
  list-style: none;
  margin-left: auto;
  flex-wrap: wrap;
}
.legend li { float: right; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 15px; height: 15px; margin: 2px; }
/* your colors */
.legend .legend-success { background-color: #26a69a; }
.legend .legend-available { background-color: #42a5f5; }
.legend .legend-alert { background-color: #ef5350; }



.table {
  position: absolute;
  height: calc(100% - 60px);

  .content-paciente {
    position: relative;
    padding: 0 2px;
    height: 100%;
    overflow-y: scroll;
  }

  .row {
    justify-content: space-between;
  }

  .thead {
    .th:last-child {
      margin-right: 20px;
    }
  }
}

.search-selected {
  margin-left: 40px;
  .label-selected {
    margin-right: 10px;
  }

  select {
    color: $gray-90;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $gray-70;
  }
}
