<div class="header-scale">
  <h2 class="subtitle">ESCALA JH-FRAT</h2>
  <hr class="limit-row">
</div>
<div [formGroup]="formGroupJhFrat" class="scale-content">
  <div  class="group-jh-frat" *ngFor="let item of escala_jh_frat">
    <h2>{{item.title}}</h2>
    <div *ngFor="let alternative of item.alternatives">
      <input id="{{item.controlname + alternative.id}}" class="radio" type="radio" formControlName="{{item.controlname}}" value="{{alternative.description}}"><label for="{{item.controlname + alternative.id}}">{{alternative.description}}</label>
    </div>
  </div>
</div>

