@import "../../../assets/colors";

.main-title {
  margin: 10px 10px 5px 10px;
  padding: 10px 5px;

  & {
    border-radius: 3px;
    border: 1px solid $gray-100;
    text-align: center;
    font-weight: 500;
    color: $white;
    background-color: $gray-80;
  }
}

.nas-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100% - 20px);

  .container-groups {
    flex-wrap: wrap;
    display: flex;
    align-content: stretch;
    overflow-y: scroll !important;
    padding: 2px;
  }

  .question {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 49%;
    margin: 0 10px;
    background-color: $gray-30;
    box-shadow: 0 0 5px $gray-80;
  }

  .nas-footer {
    padding: 5px;
    width: 100%;
    background-color: rgba($gray-50, 0.5);
    border-top: 1px solid $gray-60;
    transition: 0.5s;
    margin: 0 10px;
    display: flex;
    bottom: 0;
    position: fixed;
    justify-content: flex-end;

    &:hover {
      box-shadow: 1px 1px 5px $gray-100;
      background-color: $gray-50;

      .button {
          background-color: $blue-default
      }
    }

    .button {
      background-color: rgba($blue-default, 0.5);
      width: 80px;
      border-radius: 2px;
      margin-right: 30px;
    }
  }
}

.invalid{
  border: 2px solid red!important;
}
