<main class="nas-container">
  <paciente-info [paciente]="registroAtendimento?.paciente"></paciente-info>
  <header class="main-title">Atividade Básica</header>
  <form class="container-groups">
    <nas-group [groupLabel]="'Monitorização Controles'">
      <nas-question [answer]="answers" [question]="question1"></nas-question>
      <nas-question [answer]="answers" [question]="question2" [isBoolQuestion]="true"></nas-question>
      <nas-question [answer]="answers" [question]="question3" [isBoolQuestion]="true"></nas-question>
    </nas-group>
    <nas-group [groupLabel]="'Monitorização Controles'">
      <nas-question [answer]="answers" [question]="question1"></nas-question>
      <nas-question [answer]="answers" [question]="question2" [isBoolQuestion]="true"></nas-question>
      <nas-question [answer]="answers" [question]="question3" [isBoolQuestion]="true"></nas-question>
    </nas-group>
    <nas-group [groupLabel]="'Monitorização Controles'">
      <nas-question [answer]="answers" [question]="question1"></nas-question>
      <nas-question [answer]="answers" [question]="question2" [isBoolQuestion]="true"></nas-question>
      <nas-question [answer]="answers" [question]="question3" [isBoolQuestion]="true"></nas-question>
    </nas-group>
    <nas-group [groupLabel]="'Monitorização Controles'">
      <nas-question [answer]="answers" [question]="question1"></nas-question>
      <nas-question [answer]="answers" [question]="question2" [isBoolQuestion]="true"></nas-question>
      <nas-question [answer]="answers" [question]="question3" [isBoolQuestion]="true"></nas-question>
    </nas-group>
  </form>
</main>
