@import "src/assets/colors";

diagnostico-status {
  position: relative;
}

.container-diagnostic {
  color: #5A5B5B;

  .row-diagnostic {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
    min-height: 50px;
    margin: 30px auto;
    border-bottom: 1px solid $gray-50;

    .item-cod-diagnostic {
      font-weight: bold;
      width: 60px;
      margin: 0 5px 0 0;
    }

    .item-description-diagnostic {
      width: 400px;
    }

    .item-signature {
      display: flex;
      width: 100%;
      font-size: 14px;
      font-style: italic;
    }
  }
}
