<section class="step-diagnostic">
  <fast-search class="list-cids" *ngIf="fastSearchVisibility" (getData)="setDiagnostic($event)"
               (visible)="getVisibilityFastSearch($event)"
               [service]="cidsService" [fields]="['id', 'diagnostico']" [widthField]="['1', '11']" [height]="'150px'">
  </fast-search>
</section>
<div class="container-diagnostic" *ngIf="!fastSearchVisibility">
  <section class="row-diagnostic" *ngFor="let diagnostic of diagnosticSelectedList">
    <span class="item-cod-diagnostic">{{diagnostic.cid.id}} -</span>
    <span class="item-description-diagnostic">{{diagnostic.cid.diagnostico}}</span>
    <diagnostico-status [diagnostic]="diagnostic" (removedDiagnostic)="removeDiagnostic($event)"></diagnostico-status>
    <div class="item-signature">{{diagnostic.profissional}}</div>
    <div class="button-add" (click)="showListCid()">
      <fa-icon class="icon" [icon]="faPlus"></fa-icon>
    </div>
  </section>
</div>
