@import "src/assets/colors";
@import "src/assets/device-sizes";

diagnostico-status {
  position: relative;
}

.container-diagnostic {
  color: #5A5B5B;

  .row-diagnostic {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
    min-height: 50px;
    margin: 30px auto;
    border-bottom: 1px solid $gray-50;

    .item-description-diagnostic {
      width: 41.66%;
      margin: 5px;

      .item-cod-diagnostic {
        font-weight: bold;
        margin: 0 5px 0 0;
      }
    }

    .item-signature {
      display: flex;
      width: 100%;
      font-size: 14px;
      font-style: italic;
      margin: 5px;
    }
  }
}


@media only screen and (max-width: $tablet-width) {
  .container-diagnostic {
    .row-diagnostic {
      .item-description-diagnostic {
          width: 100%;
      }
    }
  }
}
