.question-title {
  padding: 5px;
}

.alternative {
  display: flex;
  align-items: center;
  padding: 5px;

  .form-group {
    justify-content: flex-start;

    .form-label {
      width: 100%;
      text-align: left;
      text-transform: none;;
    }

    .form-control {
      margin-right: 10px;
      width: 20px !important;
      height: 20px !important;
      box-shadow: none;
    }
  }
}

.bool-group {
  flex: 0;

  .bool-label {
    width: auto !important;
  }
}
