@import '../../../assets/device-sizes';
@import '../../../assets/colors';

.container-paciente {
  position: relative;
  height: calc(100% - 20px);
  margin: 10px 20px;
}

.table {
  position: absolute;
  height: calc(100% - 60px);

  .content-paciente {
    position: relative;
    padding: 0 2px;
    height: 100%;
    overflow-y: scroll;
  }

  .row {
    justify-content: space-between;
  }

  .thead {
    .th:last-child {
      margin-right: 20px;
    }
  }
}

.search-selected {
  margin-left: 40px;
  .label-selected {
    margin-right: 10px;
  }

  select {
    color: $gray-90;
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $gray-70;
  }
}
