@import "../../../../assets/device-sizes";
@import "../../../../assets/colors";

.scale-content {
  width: 100%;

  .limit-row {
    border: 1px solid $gray-70;
    margin-bottom: 20px;
  }

  & input.checkbox[type='checkbox'] {
    transform: scale(1.5);
    font-size: 12px;
    margin: 10px;
  }
}
