<main class="container-setor-create">
  <article class="card">
    <form [formGroup]="form" action="#" class="form-container">
      <div class="form-group flex-row">
        <label class="form-label">Código</label>
        <input class="form-control control-disable" formControlName="codWpd" id="cod-wpd" type="text">
      </div>
      <div class="form-group flex-row">
        <label class="form-label" for="descricao">Descrição</label>
        <input
          [ngStyle]="{'border' : this.form.get('descricao').invalid &&  selectedSetor != undefined ? '1px solid red':''}"
          class="form-control" formControlName="descricao" id="descricao" type="text">
        <p *ngIf="this.form.get('descricao').invalid && selectedSetor != undefined" class="errors">A descrição não pode
          ser vazia</p>
      </div>
      <div class="form-group flex-row">
        <label class="form-label" for="sigla">Sigla</label>
        <input
          [ngStyle]="{'border' : this.form.get('sigla').invalid && selectedSetor != undefined ? '1px solid red':''}"
          class="form-control" formControlName="sigla" id="sigla" type="text">
        <p *ngIf="this.form.get('sigla').invalid && selectedSetor != undefined" class="errors">A sigla não pode ser
        vazia</p>
      </div>
      <div class="form-group flex-row">
        <label class="form-label" for="tipo">Tipo</label>
        <select [ngStyle]="{'border' : this.form.get('tipo').invalid ? '2px solid #c26267':''}"
                class="form-control" formControlName="tipo" id="tipo">
          <option *ngFor="let item of selectItems" [value]="item.id">{{item.setor}}</option>
        </select>
        <p *ngIf="this.form.get('tipo').invalid && selectedSetor != undefined" class="errors">Selecione um tipo</p>
      </div>
      <div class="form-group flex-row">
        <label class="form-label" for="sigla">Prazo Apache II (Horas)</label>
        <input
          [ngStyle]="{'border' : this.form.get('prazoApache').invalid ? '2px solid #c26267':''}"
          class="form-control" formControlName="prazoApache" id="prazoApache" type="number" style="
    max-width: 135px;">
        <p *ngIf="this.form.get('prazoApache').invalid" class="errors">não pode ser
          branco</p>
      </div>
      <button (click)="save()" class="button button-blue btn-save">Salvar</button>
    </form>
  </article>
</main>
<section class="background-shadow" #shadow>
  <div class="container-search" *ngIf="selectedSetor == undefined">
    <fast-search (getData)="selectedData($event)" [widthField]="['1','3']"
                 [service]="setorWpdService" [fields]="['id','descricao']"></fast-search>
    <div (click)="back()" class="container-back">
      <fa-icon (click)="back()" class="icon" [icon]="faArrowCircleLeft"></fa-icon>
      <button (click)="back()" class="button btn-back">voltar</button>
    </div>
  </div>
</section>
