<main class="container-tipo-incidente">
  <article class="card" [ngClass]="{background: 'red'}">
    <form [formGroup]="form" class="form-container">
      <div class="form-group flex-row">
        <label for="nome" class="form-label">Nome*:</label>
        <input class="form-control" formControlName="nome" id="nome" type="text" [ngClass]="{'form-control-error': f.nome.errors && (f.nome.dirty || f.nome.touched)}" required>
        <p class="error-label" *ngIf="f.nome.errors && (f.nome.dirty || f.nome.touched)">
          nome não pode ser branco
        </p>
      </div>
      <div class="form-group flex-row">
        <label class="form-label">Risco(s)*:</label>
        <div class="select-multiple-container-relative">
          <multiple-select (itemsSelected)="getItemsSelected($event)"
                           [width]="''" [items]="riscos" [keyPropery]="'nome'" [selectedItems]="tipoIncidente.riscos">

          </multiple-select>
        </div>
      </div>
      <button (click)="save()" class="button button-blue btn-save">Salvar</button>
    </form>
  </article>
</main>

