@import '../../../assets/colors';
@import '../../../assets/device-sizes';
@import '../../../inputs';

.container-tipo-incidente {
  display: flex;
  position: absolute;
  width: 100%;
  flex-wrap: wrap;

  .card {
    margin: 15px;
    align-items: center;
    width: 500px;
  }

  .form-container {
    flex-direction: column;
  }

  .form-group {
    align-items: baseline;
    width: calc(100% - 10px);
  }

  .form-label {
    text-transform: none;
    flex: 1;
  }

  .form-control {
    flex: 2;
  }

  .select-multiple-container {
    width: 100%;
    flex: 2;
    margin-bottom: 15px;
  }
}

.card {
  & {
    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 1px 6px $gray-90;
  }
  & label, input, button {
    margin-bottom: 15px;
  }
}

.btn-save {
  padding: 7px;
  font-weight: 400;
  width: 100px;
  position: relative;
  margin-left: auto;
  left: -5px;
}
@media screen and (max-width: 500px) {
  .form-container {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column !important;

    .form-group {
      width: calc(100% - 10px);
      margin: 5px;
      position: relative;
      display: flex;
      flex-direction: column !important;

      .form-control, .form-label {
        text-align: left;
        position: relative;
        width: calc(100% - 15px);
      }

      .form-control {
        flex: 2;
      }

      .form-label {
        width: calc(100%);
        flex: 1;
      }
    }
  }

  .errors {
    right: 2px;
  }
}

