@import '../../../assets/colors';

$red: #c55151;
$green-default: #4DC2B3;
$green: #389060;
$orange: #FF955E;
$yellow: #F9DD28;
$blue: #4860c1;
$purple: #671dc1;
$white: #FFFFFF;
$brown: #695A35;
$black: #000000;
$gray: #585858;

.table, .tcol, .trow, .thead {
  display: flex;
}

.table {
  margin: 10px auto;
  width: 100%;
  flex-direction: column;


  @media (max-width: 1100px) and (min-height: 600px) {
    position: absolute;
    width: 1200px;
    * {
      position: relative;
    }
  }

  .tbody {
    flex-direction: column;
    border: 1px solid $gray-30;
    border-top: none;
    border-right: none;

    .tbody-item {
      border-right: 1px solid $gray-30;
      padding: 5px;
      flex: 1;
    }
  }

  .thead {
    flex-direction: row;
    text-align: end;
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;

    .thead-item {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      flex: 1;
    }
  }

  .table-status {
    border-radius: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    padding: 1px 4px;
  }
}

.trow {
  text-align: end;
  flex-direction: row;
  border-top: 1px solid $gray-60;

  .total-status {
    text-align: center;
  }
}

.total-row {
  font-weight: 600;
}

.ocupado {
  background-color: $red;
  color: $white;
}

.higienizacao {
  background-color: $blue;
  color: $white;
}

.reservado {
  background-color: $orange;
}

.manutencao {
  background-color: $brown;
  color: $white;
}

.interditado {
  background-color: $yellow;
}

.liberado {
  background-color: $white;
  color: $gray-80;
}

.alta-medica {
  background-color: $green;
  color: $white;
}

.alta-adm {
  background-color: $gray;
  color: $white;
}

.ocupado, .higienizacao, .manutencao, .reservado, .liberado, .interditado, .alta-adm, .alta-medica {
  box-shadow: 1px 1px 5px $black;
  text-align: center;
}
