@import '../../../assets/colors';

.table, .tcol, .trow, .thead {
  display: flex;
}

.table {
  margin: 10px auto;
  width: 100%;
  flex-direction: column;


  @media (max-width: 1100px) and (min-height:600px) {
    position: absolute;
    width: 1200px;
    * {
      position: relative;
    }
  }

  .tbody {
    flex-direction: column;
    border: 1px solid $gray-30;
    border-top: none;
    border-right: none;

    .tbody-item {
      border-right: 1px solid $gray-30;
      padding: 5px;
      flex: 1;
    }
  }

  .thead {
    flex-direction: row;
    border-bottom: none;
    text-align: end;

    .thead-item {
      font-size: 16px;
      font-weight: 400;
      flex: 1;
    }
  }

  .table-status {
    border-radius: 3px;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    padding: 1px 4px;
  }
}

.trow {
  text-align: end;
  flex-direction: row;
  border-top: 1px solid $gray-30;

  .total-status {
    text-align: center;
  }
}

.total-row {
  font-weight: 600;
}
