<main id="paciente-card" class="container-paciente" *ngIf="paciente.hasOwnProperty('prontuario')">
  <section class="item-info w-100">
    <h3 class="label">Paciente</h3>
    <h4 class="info">{{paciente?.nome}}</h4>
  </section>
  <section class="item-info w-100">
    <h3 class="label">Mãe</h3>
    <h4 class="info">{{paciente?.mae}}</h4>
  </section>
  <section class="item-info w-40">
    <h3 class="label">Prontuário</h3>
    <h4 class="info">{{paciente?.prontuario}}</h4>
  </section>
  <section class="item-info w-40">
    <h3 class="label">Registro</h3>
    <h4 class="info">{{paciente?.registro}}</h4>
  </section>
  <section class="item-info w-40">
    <h3 class="label">Convênio</h3>
    <h4 class="info">{{paciente?.convenio}}</h4>
  </section>
  <section class="item-info w-40">
    <h3 class="label">Nascimento</h3>
    <h4 class="info">{{paciente?.nascimento | date: 'dd/MM/yyyy'}} ({{getIdade(paciente?.nascimento)}} anos)</h4>
  </section>
</main>
