@import 'src/assets/colors';
@import 'src/assets/device-sizes';

.container-paciente {
  display: flex;
  position: absolute;
  background-color: $gray-20;
  flex-wrap: wrap;
  width: 400px;
  z-index: 5000;
  left: 4px;
  top: 30px;
  box-shadow: 0 0 5px $gray-100;
  border-radius: 4px;
  padding: 3px;

  .item-info {
    margin: 5px;

    @media screen and (max-width: $tablet-width) {
      width: 100% !important;
    }

    .label {
      font-size: 14px;
      font-weight: 400;
    }

    .info {
      text-transform: capitalize;
      font-size: 16px;
    }
  }

  .w-100 {
    width: 100% !important;
  }

  .w-40 {
    width: 45%;
  }

  @media (max-width: 375px) and (max-height: 812px) {
    width: calc(100% - 13px);
    flex-direction: column !important;
  }
}

