@import "../../../../assets/device-sizes";
@import "../../../../assets/colors";

.title {
  padding: 10px;
  text-align: center;
  background: $gray-80;
  color: $white;
}

.tabs-container {
  display: flex;
  flex-direction: column;

  grupo-tev-clinico,
  grupo-tev-cirurgico,
  grupo-braden,
  grupo-bradenq,
  grupo-escala-jh-frat,
  grupo-humpty-dumpty,
  grupo-fator-risco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    line-height: 30px;
  }


  .subtitle {
    font-size: 16px;
    margin-top: 20px;
  }

  .invalid {
    color: #c26267;
    font-size: 11px;
    margin-left: 5px;
  }

  .tab-item {
    display: none;
  }

  .active {
    width: 100%;
    height: 650px;
    overflow-y: scroll;
    font-size: 14px;
    display: flex !important;
    flex-wrap: wrap;
    vertical-align: center;
    justify-content: left;
    align-items: center;
  }

}

.footer-arrows {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;

  .chevronRight, .chevronLeft {
    font-size: 32px;
    color: $gray-60;
    padding: 10px;
    cursor: pointer;

    &:hover {
      color: $gray-80;
    }
  }

  .arrow-label {
    display: flex;
    align-items: center;
    vertical-align: center;
  }
}


@media screen and (max-width: $tablet-width) {

  .active {
    height: 150px;
  }
}
