<main class="container">
  <div class="table table-list">
    <section class="thead">
      <span class="th flex-1">Registro</span>
      <span class="th flex-3">Paciente</span>
      <span class="th flex-1">Nascimento</span>
      <span class="th flex-3">Mãe</span>
      <span class="th flex-1">Sexo</span>
      <span class="th flex-2">Entrada</span>
      <span class="th flex-1">Último Escore</span>
    </section>
    <section class="tbody content-paciente" [scrollWindow]="false" infinite-scroll (scrolled)="scrollDown()">
      <spinner [loading]="listLoading"></spinner>
      <div class="paciente-situacao-label">Pacientes Internados</div>
      <section *ngFor="let internos of pacientesInternos">
        <div (click)="edit(internos)" class="row" [ngClass]="[isToday(internos.lastNas()?.data) ? 'done' : 'pending']">
          <span class="td flex-1">{{internos?.atendimento?.id}}</span>
          <span class="td flex-3">{{internos?.atendimento?.paciente.nome}}</span>
          <span
            class="td flex-1">{{internos?.atendimento?.paciente.nascimento | date: "dd/MM/yyyy" }}</span>
          <span class="td flex-3">{{internos?.atendimento?.paciente.nomeMae}}</span>
          <span class="td flex-1">{{internos?.atendimento?.paciente.sexo}}</span>
          <span class="td flex-2">{{internos?.dataEntrada | date: "dd/MM/yyyy - HH:mm"}}</span>
          <span class="td flex-1">{{isToday(internos.lastNas()?.data) ? roundEscore(internos.lastNas()?.escore) : '--'}}</span>
        </div>
        <div class="empty" *ngIf="pacientesInternos?.length == 0">
          <p>Nenhum paciente encontrado!</p>
          <fa-icon class="icon" [icon]="faFrown" size="2x"></fa-icon>
        </div>
      </section>
      <div class="paciente-situacao-label">Outros Registros</div>
      <section *ngFor="let outros of outrosPacientes">
        <div (click)="edit(outros)" class="row">
          <span class="td flex-1">{{outros?.atendimento?.id}}</span>
          <span class="td flex-3">{{outros?.atendimento?.paciente.nome}}</span>
          <span class="td flex-1">{{outros?.atendimento?.paciente.nascimento | date: "dd/MM/yyyy" }}</span>
          <span class="td flex-3">{{outros?.atendimento?.paciente.nomeMae}}</span>
          <span class="td flex-1">{{outros?.atendimento?.paciente.sexo}}</span>
          <span class="td flex-2">{{outros.dataEntrada | date: "dd/MM/yyyy - HH:mm"}}</span>
        </div>
        <div class="empty" *ngIf="outrosPacientes?.length == 0">
          <p>Nenhum paciente encontrado!</p>
          <fa-icon class="icon" [icon]="faFrown" size="2x"></fa-icon>
        </div>
      </section>
      <app-scroll-spinner [show]="showListScrollSpinner"></app-scroll-spinner>
    </section>
  </div>
</main>
