@import "../../../assets/colors";

.paciente-situacao-label {
  flex: 1;
  color: $gray-80;
  padding: 8px;
  font-weight: 600;
  text-align: left !important;
  text-transform: uppercase;
  background-color: $gray-60;
  border-bottom: 1px solid $gray-70;
  border-top: 1px solid $gray-70;
  margin-bottom: 5px;
  max-height: 22px !important;
}

.done {
  border-left: 10px solid $success;
}

.pending {
  border-left: 10px solid $danger;
}

.date-nas {
  font-size: 12px;
}

.legend {
  list-style: none;
  margin-left: auto;
  flex-wrap: wrap;
}
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 15px; height: 15px; margin: 2px; }
/* your colors */
.legend .legend-success { background-color: $success; }
.legend .legend-alert { background-color: $danger; }

.legend-container {
  padding: 5px;
  background-color: $gray-50;
  z-index: 3;
  bottom: 10px;
  right: 38px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  box-shadow: -1px -1px 3px $gray-70;
}
